<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">


	<title>{% block title %}Cloud-Rewards{% endblock %}</title>

	{% block stylesheets %}
		{# On charge les CSS #}
		<link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../font/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="../css/admin.css" rel="stylesheet">
		<link href="../css/sidebar.css" rel="stylesheet">
	{% endblock %}
</head>