<a class="navbar-brand abs" href="#">
    <img class="logo-image" src={{ (name)?"":((link)?"#{asset(link)}":"#{asset('images/cloudsRewards/logo-cloud-rewards.png')}") }}  >
    <span class="nom-logo"></span>
</a>