<a class="navbar-brand abs logo-content" href="#">    
    <span class = "logo-cloud-rewards" style={{ (name)?"display:none":((link)?"background:url(#{asset(link)})":"") }}></span>  
    <span class = "nom-logo"></span>
</a>