<!DOCTYPE html>
<html>

	{{ include("AdminBundle::header.html.twig") }}

	<body>
		{{ include("AdminBundle::menu-top.html.twig") }}
		
		{{ include("AdminBundle::menu-top-niv-2.html.twig") }}
		
		<div class="container-fluid">
			<div class="row d-flex d-md-block flex-nowrap wrapper">

				{% block main %}
				{% endblock %}
			</div>
		</div>
		{{ include("AdminBundle::footer.html.twig") }}
	</body>
</html>