<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-2">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarNv2">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand abs" href="#">
	</a>
	<div class="navbar-collapse collapse" id="collapsingNavbarNv2">
		<ul class="navbar-nav content-menu-niv-2">
			<li class="nav-item-niv-2 accueil">
				<a class="nav-link-niv-2" href="#">accueil <span class="sr-only">(current)</span></a>
			</li>
			
			<li class="nav-item-niv-2 dashboard">
				<a class="nav-link-niv-2" href="{{ path("admin_dashboard_kpi") }}">dashboard</a>
			</li>
			
			<li class="nav-item-niv-2 communication">
				<a class="nav-link-niv-2" href="#">communication</a>
			</li>
			
			<li class="nav-item-niv-2 participants">
				<a class="nav-link-niv-2" href="#">participants</a>
			</li>
			
			<li class="nav-item-niv-2 validations">
				<a class="nav-link-niv-2" href="#">validations</a>
			</li>
			
			<li class="nav-item-niv-2 multu-operations">
				<a class="nav-link-niv-2" href="#">multi-opérations</a>
			</li>
			
			<li class="nav-item-niv-2 parametrages">
				<a class="nav-link-niv-2 active" href="{{ path("admin_parametrages_programme") }}">paramétrages</a>
			</li>
		</ul>
	</div>
</nav>