<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-niv-1">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarNiv1">
		<span class="navbar-toggler-icon"></span>
	</button>
	{{ render(controller("AdminBundle:Parametrages:logo")) }}
	<div class="navbar-collapse collapse col-" id="collapsingNavbarNiv1">
		<div class="navbar-nav form-search">
			<form class="form-inline mt-2 mt-md-0 search">
				<input class="mr-sm-2" type="text" value = "" placeholder = "rechercher">
			</form>
		</div>
		<div class = "navbar-nav ml-auto content-log-header">
			<ul>
				<li id = "play" class = "log-header"><a href="#"></a></li>
				<li id = "notification" class = "log-header"><a href="#"></a></li>
				<li id = "question-marque" class = "log-header"><a href="#"></a></li>
				<li id = "mail" class = "log-header"><a href="#"></a></li>
				<li id = "casque" class = "log-header"><a href="#"></a></li>
				<li id = "profil" class = "log-header"><a href="#"></a></li>
				<li id = "power" class = "log-header"><a href="{{ path("fos_user_security_logout") }}"></a></li>
			</ul>
		</div>
	
	</div>
</nav>