input.input-form-text::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #000000!important;
	text-align:left!important;
	padding-left:10px!important;
	
	font-size: 14px!important;
	font-family: var(--police);!important;
}
input.input-form-text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #000000!important;
   opacity:  1!important;
   text-align:left!important;
   padding-left:10px!important;
   font-size: 14px!important;
	font-family: var(--police);!important;
}
input.input-form-text::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #000000!important;
   opacity:  1!important;
   text-align:left!important;
   padding-left:10px!important;
   font-size: 14px!important;
	font-family: var(--police);!important;
}
input.input-form-text:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #000000!important;
   text-align:left!important;
   padding-left:10px!important;
   font-size: 14px!important;
	font-family: var(--police);!important;
}
input.input-form-text::-ms-input-placeholder { /* Microsoft Edge */
   color: #000000!important;
   text-align:left!important;
   padding-left:10px!important;
   font-size: 14px!important;
	font-family: var(--police);!important;
}

section.active{
	border-top: solid 2px var(--couleur_2);
}

.fieldset h3, h4, h5 {
    color: var(--couleur_4);
    font-size: 25px;
    font-family: var(--police_light);
}

.fieldset {
    height: auto;
	padding-left: 30px;
	padding-right: 30px;
	max-width:1024px;
	margin-left:auto;
	margin-right:auto;
}

.block-title {
    color: var(--couleur_4);
}

.img-content-pages-standard{
	background: url('../images/cloudsRewards/page-standard.png') no-repeat;
	background-position: -15px -35px;
}

.corner-circle-img {
    width: 137px;
    height: 137px;
    background-repeat: no-repeat;
    border: 2px solid #BEBEBE;
    float: right;
    box-shadow: 0 0 5px grey inset, 0 0 0 1px #BEBEBE;
}

.list-choix-page{
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
}

.list-choix-page li{
	float:left;
	margin-left:5px;
	position:relative;
	padding:5px;
	height:44px;
}

.lib-ajout-page{
	display: inline-block;
	margin-left:10px;
	width: 80px;
	line-height: 17px;
}

.list-choix-page li.pages-list{
	width:120px;
	font-size: 14px;
	font-family: var(--police);
	border-radius: 5px 5px 0px 0px;
	background:#efefef;
	/*color:white;*/
}

.list-choix-page li.page-list-active{
	width:120px;
	font-size: 14px;
	font-family: var(--police);
	border-radius: 5px 5px 0px 0px;
	background:#4f4f4f;
	color:white;
}

.list-choix-page li.pages-list-ajout{
	width:150px;
	color:#245EDC;
	font-family: var(--police);
	cursor:pointer;
	background:#efefef;
	border-radius: 5px 5px 0px 0px;
}

.check-onglet-choix-page{
	width:17px;
	height:17px;
	background:url('../images/cloudsRewards/radio-se-souvenir.png');
	background-repeat:no-repeat;
	display:inline-block;
	position:absolute;
	right:5px;
	cursor:pointer;
	top:8px;
	opacity: 0.5;
}

.checkon-onglet-choix-page{
	width:17px;
	height:17px;
	background:url('../images/cloudsRewards/checkon17.png');
	background-repeat:no-repeat;
	display:inline-block;
	position:absolute;
	right:5px;
	cursor:pointer;
	top:8px;
	opacity: 0.5;
}

.lib-onglet-choix-page{
	display: inline-block;
	width: 95px;
	cursor:default;
	line-height: 16px;
}

.add:before {
    content: "\f055";
    font-size: 25px;
    margin-right: 5px;
    font-family: fontawesome;
    position: relative;
}

.img-ajout-page{
	padding: 0;
	margin: 0;
	position: relative;
	top: -7px;
}

.content-page-content{
	clear: both;
	width: 100%;
	border-top: 1px solid black;
}

.content-dynamic-pages{
	margin-top:30px;
}

label.champForm{
	display:block;
	position:relative;
}

span.lib-form{
	font-size:14px;
	font-family: var(--police);
}

span.block{
	display:block;
}

.clearBoth{
	clear:both;
	height:20px;
}

.content-pages-chooses{
	margin-top:60px;
}

.btn-valider{
	padding: 5px 9px!important;
}

.info-container {
    margin: 10px 0 10px 0;
}

.info-container p {
    margin: 0;
    font-size: 13px;
}

.large-textarea {
    width: 100%;
    background-color: inherit;
    border: 1px solid #636363;
    border-radius: 5px;
}

/*.cke_reset {
    border-radius: 0 0 5px 5px;
}

.cke {
    width: 100% !important;
    border-radius: 0 0 5px 5px;
    border: solid 1px #636363 !important;
}*/

span.editeur{
	margin-bottom:15px;
}

.block-center{
	margin:20px auto;
	display:block;
}

p.chargementAjax{
	position:relative;
	width:100%;
	text-align:center;
	display:none;
}

p.chargementAjax img{
	width: 12%;
	position: absolute;
	top: 45px;
	left: 50%;
	margin-left: -6%;
}

.titre-section-page-standard{
}

.titre-section-page-standard span{
	color: var(--couleur_2);
	font-family: var(--police_bold);
}

.previsualisation-im-page-standard{
	width:100%;
	max-width:1024px;
	height:100%;
	max-height:243px;
	text-align:center;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
	#collapsingNavbarFormInscription {
		margin: 0 !important;
		padding: 0;
	}
	
	.list-choix-page li.page-list-active,
	.list-choix-page li.pages-list,
	.list-choix-page li.pages-list-ajout{
		width:100%;
	}
	
	.list-choix-page li{
		margin-left:0;
	}
	
	.input-form-text{
		width:100%;
	}
	
	button.btn-valider{
		margin-top:15px;
	}
	
	.lib-onglet-choix-page{
		width:50%;
	}
	
	.lib-ajout-page{
		width:50%;
	}
	
	.input-form-text{
		float: right;
		width: 90%;
		border-radius: 5px;
		background: none;
		border: 0;
		border: 1px solid #505050;
		padding-left:10px!important;
		text-align:left!important;
		margin-right:33px;
	}
	
	.delete-input {
		width: 25px;
		height: 25px;
		background: url('../images/cloudsRewards/close-table.png') center center no-repeat;
		display: inline-block;
		position: absolute;
		margin-left: 10px;
		right: 0;
		cursor:pointer;
		top:24px;
	}
	
	.content-label {
		display: inline-block;
		text-align: center;
		width: 100%;
	}
	
	.content-champ-form {
		text-align: right;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}
	
	.content-input{
		display: inline-block;
		width: 100%;
		vertical-align: top;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
	#collapsingNavbarFormInscription {
		margin: 0 !important;
		padding: 0;
	}
	
	.list-choix-page li.page-list-active,
	.list-choix-page li.pages-list,
	.list-choix-page li.pages-list-ajout{
		width:100%;
	}
	
	.list-choix-page li{
		margin-left:0;
	}
	
	.input-form-text{
		width:100%;
	}
	
	button.btn-valider{
		margin-top:15px;
	}
	
	.lib-onglet-choix-page{
		width:50%;
	}
	
	.lib-ajout-page{
		width: 50%;
		position: absolute;
		top: 10px;
	}
	
	.input-form-text{
		float: right;
		width: 94%;
		border-radius: 5px;
		background: none;
		border: 0;
		border: 1px solid #505050;
		padding-left:10px!important;
		text-align:left!important;
		margin-right:33px;
	}
	
	.delete-input {
		width: 25px;
		height: 25px;
		background: url('../images/cloudsRewards/close-table.png') center center no-repeat;
		display: inline-block;
		position: absolute;
		margin-left: 10px;
		right: 0;
		cursor:pointer;
		top:24px;
	}
	
	.content-label {
		display: inline-block;
		text-align: center;
		width: 100%;
	}
	
	.content-champ-form {
		text-align: right;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}
	
	.content-input{
		display: inline-block;
		width: 100%;
		vertical-align: top;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
	#collapsingNavbarFormInscription {
		margin: 0 !important;
		padding: 0;
	}
	
	.list-choix-page li.page-list-active,
	.list-choix-page li.pages-list,
	.list-choix-page li.pages-list-ajout{
		width:100%;
	}
	
	.list-choix-page li{
		margin-left:0;
	}
	
	.input-form-text{
		width:100%;
	}
	
	button.btn-valider{
		margin-top:15px;
	}
	
	.lib-onglet-choix-page{
		width:50%;
	}
	
	.lib-ajout-page{
		width: 50%;
		position: absolute;
		top: 10px;
	}
	
	.fieldset h3, h4, h5{
		width:90%;
	}
	
	.input-form-text{
		float: right;
		width: 93%;
		border-radius: 5px;
		background: none;
		border: 0;
		border: 1px solid #505050;
		padding-left:10px!important;
		text-align:left!important;
		margin-right:33px;
	}
	
	.delete-input {
		width: 25px;
		height: 25px;
		background: url('../images/cloudsRewards/close-table.png') center center no-repeat;
		display: inline-block;
		position: absolute;
		margin-left: 10px;
		right: 0;
		cursor:pointer;
		top:24px;
	}
	
	.content-label {
		display: inline-block;
		text-align: center;
		width: 100%;
	}
	
	.content-champ-form {
		text-align: right;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}
	
	.content-input{
		display: inline-block;
		width: 100%;
		vertical-align: top;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
	.list-choix-page li.pages-list{
		margin-top:5px;
	}
	
	.list-choix-page li.page-list-active{
		margin-top:5px;
	}
	
	.list-choix-page li.pages-list-ajout{
		margin-top:5px;
	}
	
	.input-form-text{
		float: right;
		width: 81%;
		border-radius: 5px;
		background: none;
		border: 0;
		border: 1px solid #505050;
		padding-left:10px!important;
		text-align:left!important;
		margin-right:33px;
	}
	
	.delete-input {
		width: 25px;
		height: 25px;
		background: url('../images/cloudsRewards/close-table.png') center center no-repeat;
		display: inline-block;
		position: absolute;
		margin-left: 10px;
		right: 0;
		cursor:pointer;
	}
	
	.content-label{
		display: inline-block;
		margin-right: 10px;
		min-width: 83px;
		text-align: left;
		width: auto;
	}
	
	.content-champ-form {
		text-align: right;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
	}
	
	.content-input{
		display: inline-block;
		width: 70%;
		vertical-align: top;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.list-choix-page li.pages-list{
		margin-top:5px;
	}
	
	.list-choix-page li.page-list-active{
		margin-top:5px;
	}
	
	.list-choix-page li.pages-list-ajout{
		margin-top:5px;
	}
	
	.input-form-text{
		float: right;
		width: 85%;
		border-radius: 5px;
		background: none;
		border: 0;
		border: 1px solid #505050;
		padding-left:10px!important;
		text-align:left!important;
		margin-right:33px;
	}
	
	.delete-input {
		width: 25px;
		height: 25px;
		background: url('../images/cloudsRewards/close-table.png') center center no-repeat;
		display: inline-block;
		position: absolute;
		margin-left: 10px;
		right: 0;
		cursor:pointer;
	}
	
	.content-label{
		display: inline-block;
		margin-right: 10px;
		min-width: 83px;
		text-align: left;
		width: auto;
	}
	
	.content-champ-form {
		text-align: right;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
	}
	
	.content-input{
		display: inline-block;
		width: 70%;
		vertical-align: top;
	}
}

.content-dynamic-pages{
	
}

#conteneur-popup{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #AAAAAA;
	z-index: 100;
	opacity: 0.5;
	display:none;
}

#body-popup{
	position: fixed;
	width: 80%;
	height: 200px;
	background: white;
	top: 20%;
	left: 50%;
	margin-left: -40%;
	margin-top: -100px;
	z-index: 2000;
	display:none;
	/*border: 2px solid #9AB8F3;*/
	border-radius: 5px;
	box-shadow: 1.5px 1.5px 2px #AAAAAA;
}

#body-popup h3.titrePopUp{
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 20px;
	font-family: var(--police_light);
	color: var(--couleur_2);
	padding: 10px;
	position:relative;
}

#body-popup h3.titrePopUp span#fermerPopUp{
	position: absolute;
	right: 5px;
	color: white;
	cursor: pointer;
	background: #AAAAAA;
	font-size: 14px;
	padding: 6px;
	border-radius: 16px;
	width: 26px;
	text-align: center;
}

.color-blue{
	color: var(--couleur_2);
}

.conteneur-form-insert-img-ckeditor{
	padding:20px;
}

.separator{
	height:20px;
}

.conteneur-liste-galery{
	height: 202px;
	border: 1px dashed #505050;
	overflow:auto;
}

#btn-inserer-img-editor-ok{
	
}

.cke_button__insertimagecloudrewards_icon{
	background: url('../ckeditor-uploader/plugins/insertimagecloudrewards/icons/insertimagecloudrewards.png') no-repeat 0 -816px !important;
}

ul.liste-img-galery{
	list-style:none;
	margin:0;
	padding:0;
}

ul.liste-img-galery li{
	margin-top:27px;
}

ul.liste-img-galery li img{
	
}

.img-list{
	width:100%;
	height:100%;
	object-fit: cover;
}

.select-img-editor{
	left: 50%!important;
	top: 1px !important;
	margin-left: -10px!important;
}

.title-liste-img-galery{
	position:relative;
	width:100%;
	background:#505050;
	height:20px;
}

#btn-suppr-page-standard{
	display:none;
}



/*--*/
.block-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #CBCBCB;
    color: var(--couleur_4);
}

.block-table th.text-and-checkbox-container {
    padding-top: 10px;
}

.block-table th {
    text-align: center;
    font-size: 14px;
    color: rgb(64,64,64);
    font-family: "Lato-Regular";
}

.block-table th, .block-table td {
    border: 1px solid #CBCBCB;
}

.block-table th, th span {
    font-family: var(--police);
    font-weight: normal;
}

.styled-checkbox + label {
    background: url('../images/cloudsRewards/checkoff.png') no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 5px 0 0 0;
    cursor: pointer;
}

.styled-checkbox:checked + label {
    background: url('../images/cloudsRewards/checkon.png') no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 5px 0 0 0;
    cursor: pointer;
}

.block-table tr td.field-parameter-state-container {
    text-align: center;
    vertical-align: middle;
    width: 143px;
}

.block-table .field-parameter-state-container, .field-edit-option-container, .field-reorder-option-container {
    background-color: #F9F9F9;
}

.styled-checkbox:checked + label {
    cursor: pointer;
}

.block-table tr td.field-parameter-state-container {
    text-align: center;
}

.block-table .field-edit-option-container {
    text-align: center;
    width: 8%;
}

.edit-field-row-link {
    height: 20px;
    width: auto;
    display: block;
    background: url('../images/cloudsRewards/edit.png') no-repeat;
    background-position: center;
}

.block-table .field-reorder-option-container {
    text-align: center;
    width: 5%;
}

.block-table .reorder-up-field-row-link {
    display: block;
}

.reorder-up-field-row-link {
    height: 12px;
    width: auto;
    display: block;
    background: url('../images/cloudsRewards/arrow-up-overlay.png') no-repeat;
    background-position: center;
}

.block-table .reorder-down-field-row-link {
    display: block;
}

.reorder-down-field-row-link {
    height: 12px;
    width: auto;
    display: block;
    background: url('../images/cloudsRewards/arrow-down-overlay.png') no-repeat;
    background-position: center;
}

.styled-checkbox {
    display: none;
}

.add-field-link-container {
    width: 100%;
    border: 1px solid #CBCBCB;
    margin: 15px 0 0 0;
    padding: 10px 0 10px 0;
}

.add-field-link {
    font-size: 14px;
    color: #245EDC !important;
    display: inline-flex;
    align-items: center;
}

.fieldset .custom-field-allowed-container {
    margin-right: 2px;
}

.champs-form-radio .input-radio {
    width: 25px;
    height: 25px;
    border: 1px solid grey;
    float: left;
    margin-left: 10px;
    border-radius: 14px;
}

.input-libelle-radio {
    margin-left: 10px;
}

.input-text {
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    font-size: 14px;
    width: 90%;
}

.styled-radio:checked + label {
    background: url('../images/cloudsRewards/checkon.png') no-repeat;
    height: 22px;
    width: 22px;
    display: inline-block;
    margin: 5px 0 0 0;
    cursor: pointer;
}

.styled-radio + label {
    background: url('../images/cloudsRewards/checkoff.png') no-repeat;
    height: 22px;
    width: 22px;
    display: inline-block;
    margin: 5px 0 0 0;
    cursor: pointer;
	vertical-align:top;
}

#alpha-radio,
#choice-radio{
	display:none;
}

.form-row{
	margin-top:20px;
	margin-bottom:20px;
}