.fieldset{
    color: 	#404040;
}

.fieldset h3, h4, h5{
    font-weight: 300;
    color: 	#505050;
}


#create-form-inscription{
    height: auto;
}

.error-message-container{
    color: #BC4540;
}

.error-message-container ul{
    list-style-type: none;
    padding-left: 0;
}

.smaller-block-title-container{
    height: 60px;
}

.fieldset{
    padding:20px 20px 50px 20px;
    margin-top:10px;
    margin-bottom: 30px;
    position:relative;
    box-shadow: 0px 0px #000000;
    background-color: #F5F5F5;
    height: auto;
}

.fieldset.active{
    /*padding:30px 30px 50px 30px;*/
    margin-top:10px;
    position:relative;
    box-shadow: 0.5px 1.5px 2px #AAAAAA;
    background-color: #FFFFFF;
    border-top: solid 2px #7782DB;
}

.content-bloc-gauche{
    position: static;
}

.corner-circle-img{
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    border: 3px solid #BEBEBE;
    float: right;
}

.img-form-inscription{
    background:url('../images/cloudsRewards/img-form-inscr.png');
    background-position: -76px -29px;
}

.img-param-registration-form-header{
    background:url('../images/cloudsRewards/hand-computer.png') no-repeat;
    background-position: -110px -70px;
}

.img-param-registration-form-intro{
    background:url('../images/cloudsRewards/hand-writing.png') no-repeat;
    background-size: 380px;
    background-position: -190px -70px;
}

.block-title{
    color: #535353 ;
}


.block-table-container{
    /*padding: 0 30px 0 30px;*/
}

.block-table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #CBCBCB;
    color: 	#505050;
}

.block-table th, th span{
    font-family: "Lato";
    font-weight: normal;
}

.block-table .field-parameter-state-container, .field-edit-option-container, .field-reorder-option-container{
    background-color: #F9F9F9;
}

.styled-checkbox{
    display: none;
}

.styled-checkbox:checked + label{
    background: url('../images/cloudsRewards/checked-on.png') no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 5px 0 0 0;
    cursor:pointer;
}

.styled-checkbox + label{
    background: url('../images/cloudsRewards/checkbox-off.png') no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 5px 0 0 0;
    cursor:pointer;
}

.block-table th{
    background-color: #DCDFF0;
}

.block-table .reorder-up-field-row-link{
    display: block;
}

.block-table .reorder-down-field-row-link{
    display: block;
}

.block-table .field-reorder-option-container{
    text-align: center;
    width: 6%;
}

.block-table .field-edit-option-container{
    text-align: center;
    width: 6%;
}

.block-table th, .block-table td{
    border: 1px solid #CBCBCB;
}

.block-table th span{
    display: block;
}

.block-table th{
    text-align: center;
}

.block-table tr td.field-parameter-state-container{
    text-align: center;
    vertical-align: middle;
    width: 12%;
}


.block-table tr td.field-container{
    vertical-align: middle;
    padding: 0 35px 0 35px;
}

.block-table tr td.field-container dl{
    margin: 0 0 0 0;
}

.submit-button-container{
    margin: 50px 0 0 0;
    text-align: center;
}

i{
    color: #4E4E4E;
}

.info-container{
    margin: 10px 0 10px 0;
}

.info-container p{
    margin: 0;
    font-size: 12px;
}

.header-preview-container{
    padding: 20px 0 0 0;
}

.form-element-container{
    padding: 20px 0 20px 0;
}

/**
 * Form elements
 */
.large-input-text{
    border: 1px solid #636363;
    width: 100%;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    font-size: 14px;
    background-color: inherit;
}

.large-textarea{
    width: 100%;
    background-color: inherit;
}

.cke{
    width: 100% !important;
    border-radius: 0 0 5px 5px;
    border: solid 1px #636363 !important;
}

.cke_top{
    border-bottom: solid 1px #636363 !important;
}

.cke_reset{
    border-radius: 0 0 5px 5px;
}

.header-preview-container{
    text-align: center;
    overflow: hidden;
    max-height: 200px;
}

.header-preview-container .header-message-preview{
    color: #FFFFFF;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 3px;
    /*font-size: xx-large;*/
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}