.fieldset h3, h4, h5{
    color: 	var(--couleur_4);
    font-size: 25px;
	/*color: rgb(64,64,64);*/
	font-family: var(--police_light);
}

.form-content-inscription{
	padding-left:15px!important;
	padding-right:15px!important;
}


#create-form-inscription{
    height: auto;
}

#import-form-inscription{
    height: auto;
}

.error-message-container{
    color: #BC4540;
}

.message-container{
    color: #6b9311;
}

.error-message-container ul{
    list-style-type: none;
    padding-left: 0;
}

.smaller-block-title-container{
    height: 60px;
}

.fieldset{
    padding:20px 24px 50px 24px;
    margin-top:10px;
    margin-bottom: 30px;
    position:relative;
    box-shadow: 0px 0px #000000;
    background-color: #F5F5F5;
    height: auto;
    color: 	var(--couleur_4);
    max-width: 1024px;
	margin-left:auto;
	margin-right:auto;
}

.fieldset.active{
    margin-top:10px;
    position:relative;
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}

.fieldset .custom-field-allowed-container{
    margin-right: 2px;
}

.content-bloc-gauche{
    position: static;
}

.corner-circle-img{
    width: 137px;
    height: 137px;
    background-repeat: no-repeat;
    border: 2px solid #BEBEBE;
    float: right;
    box-shadow: 0 0 5px grey inset, 0 0 0 1px #BEBEBE;
}

.img-form-inscription{
    background:url('../images/cloudsRewards/img-form-inscr.png');
    background-position: -64px -19px;
}

.img-param-registration-form-header{
    background:url('../images/cloudsRewards/hand-computer.png') no-repeat;
    background-position: -102px -54px;
}

.img-param-registration-form-intro{
    background:url('../images/cloudsRewards/hand-writing.png') no-repeat;
    background-size: 380px;
    background-position: -172px -54px;
}

.block-title{
    color: var(--couleur_4) ;
}


.block-table-container{
    /*padding: 0 30px 0 30px;*/
}

.block-table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #CBCBCB;
    color: 	var(--couleur_4);
}
.block-table th, th span{
    font-family: var(--police);
    font-weight: normal;
}
.block-table .field-parameter-state-container, .field-edit-option-container, .field-reorder-option-container{
    background-color: #F9F9F9;
}

.styled-checkbox{
    display: none;
}

.styled-checkbox:checked + label{
    background: url('../images/cloudsRewards/checkon.png') no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 5px 0 0 0;
    cursor:pointer;
}

.styled-checkbox + label{
    background: url('../images/cloudsRewards/checkoff.png') no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 5px 0 0 0;
    cursor:pointer;
}

.styled-checkbox.bigger:checked + label{
    background: url('../images/cloudsRewards/check-on.png') no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 5px 0 0 0;
    cursor:pointer;
}

.styled-checkbox.bigger + label{
    background: url('../images/cloudsRewards/check-off.png') no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 5px 0 0 0;
    cursor:pointer;
}


/*.block-table th{*/
    /*background-color: #E3E6F8 !important;*/
    /*background-color: 	rgba(118, 130, 218, 0.2) !important;*/
/*}*/

.block-table .reorder-up-field-row-link{
    display: block;
}

.block-table .reorder-down-field-row-link{
    display: block;
}

.block-table .field-reorder-option-container{
    text-align: center;
    width: 5%;
}

.block-table .field-edit-option-container{
    text-align: center;
    width: 8%;
}

.block-table th, .block-table td{
    border: 1px solid #CBCBCB;
}

.block-table th span{
    display: block;
}

.block-table th{
    text-align: center;
	font-size: 14px;
	color: rgb(64,64,64);
	font-family: "Lato-Regular";
}

.block-table tr td.field-parameter-state-container{
    text-align: center;
    vertical-align: middle;
    width: 143px;
}


.block-table tr td.field-container{
    vertical-align: middle;
    padding: 15px 35px 15px 35px;
    width :auto;
}

.block-table tr td.field-container dl{
    margin: 0 0 0 0;
}

.block-table th.text-and-checkbox-container{
    padding-top: 10px;
}

.submit-button-container{
    margin: 50px 0 0 0;
    text-align: center;
}

.info-container{
    margin: 10px 0 10px 0;
}

.info-container p{
    margin: 0;
    font-size: 13px;
}

.info-container p span.bigger{
    font-size: 14px;
    font-weight: 400;
}

.row-header-preview-container{
    margin: 15px 0 0 0 !important;
}
.header-preview-container{
    padding: 0 0 0 0;
}

.header-preview-container.no-image{
    background-color: #FFFFFF !important;
    height: 75px;
}

.header-preview-container.no-image .header-message-preview{
    color: var(--couleur_4) !important;
}

.header-image-preview-img{
    max-width: 100%;
}

.form-element-container{
    padding: 20px 0 20px 0;
}

/**
 * Form elements
 */
.input-text{
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    font-size: 14px;
    width:60%;
}

.large-input-text{
    border: 1px solid #636363;
    width: 100%;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    font-size: 14px;
    background-color: inherit;
	text-align:left!important;
}

.large-input-text.quite-large-input-text{
    width: 80%;
    width: calc(100% - 35px) !important;
}

.cke{
    width: 100% !important;
    border-radius: 0 0 5px 5px;
    border: solid 1px #636363 !important;
}

.cke_top{
    border-bottom: solid 1px #636363 !important;
}

.cke_reset{
    border-radius: 0 0 5px 5px;
}

.header-preview-container{
    text-align: center;
    overflow: hidden;
    max-height: 200px;
}

.header-preview-container .header-message-preview{
    color: #FFFFFF;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 3px;
    /*font-size: xx-large;*/
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-field-link-container{
    width: 100%;
    border: 1px solid #CBCBCB;
    margin: 15px 0 0 0;
    padding: 10px 0 10px 0;
}

.add-field-link{
    font-size: 14px;
    color: #245EDC!important;
    display: inline-flex;
    align-items: center;
}

.add-field-link:hover{
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}

.add:before{
    position: static;
}

.reorder-up-field-row-link {
    height: 12px;
    width: auto;
    display: block;
    background: url('../images/cloudsRewards/arrow-up-overlay.png') no-repeat;
    background-position: center;
}
.reorder-down-field-row-link {
    height: 12px;
    width: auto;
    display: block;
    background: url('../images/cloudsRewards/arrow-down-overlay.png') no-repeat;
    background-position: center;
}

.edit-field-row-link{
    height: 20px;
    width: auto;
    display: block;
    background: url('../images/cloudsRewards/edit.png') no-repeat;
    background-position: center;
}

.hidden-input-file{
    display: none;
}

/*.upload-img-button{
    border: solid 3px #457FE3;
    color: #457FE3;
    background-color: inherit;
    border-radius: 50px ;
    font-size: 14px;
    padding: 7px 15px 7px 5px;
    min-width: 50px;
    cursor:pointer;

    !*min-height: 35px;
    max-height: 35px;*!

    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}*/

.choose-upload-img-button{
    margin-top : 0;
}

.btn-valider:hover{
    background: none;
    background: var(--couleur_1);
}

#btn-modal{
    display: none;
}

.styled-radio{
    display: none;
}

.styled-radio:checked + label{
    background: url('../images/cloudsRewards/checkon.png') no-repeat;
    height: 22px;
    width: 22px;
    display: inline-block;
    margin: 5px 0 0 0;
    cursor:pointer;
}

.styled-radio + label{
    background: url('../images/cloudsRewards/checkoff.png') no-repeat;
    height: 22px;
    width: 22px;
    display: inline-block;
    margin: 5px 0 0 0;
    cursor:pointer;
}

.narrow-block-label{
    display: inline-block;
    width: 100px;
    margin: 0 0 0 20px !important;
}

.block-label{
    display: inline-block;
    width: 80%;
    margin: 0 0 0 20px !important;
}

.modal-content{
    border: none;
    border-radius: 0;
    box-shadow: 3px 3px 3px -1px #aaa, 0px 0px 5px -1px #aaa;	border: none !important;
}


.modal-content .content label{
    margin: 0;
}

.modal-content .content {
    padding-left : 5%;
    font-size: 14px;
    padding-bottom: 30px;
}
.modal-content .content h4 {
    font-weight: 300;
    color: #2A6BD9;
    text-align: left;
    font-size: 25px;
    margin-bottom: 30px;
}

.modal-content .modal-header{
    border: none;
}

.modal-header{
    display: block;
}

.close-modal{
    text-align: center;
}

.modal-content .content .submit-button-container{
    margin-top: 10px;
}

.modal-backdrop.show {
    opacity: 0.75 !important;
    background-color: #f6f6f6;
}
/*
.modal-backdrop {
    background-color: rgba(246, 246, 246, 0.75);
    background-color: rgb(246, 246, 246);
}
*/

.champs-form{
    height:30px;
}

.form-row{
    padding: 10px 0 10px 0;
}

.form-label{
    height: 100%;
    display: flex;
    align-items: center;
}

.block-label  .champs-form-radio:first-child .input-radio{
    margin-left: 0;
}

.block-table .champs-form-radio:first-child .input-radio{
    margin-left: 0;
}

.modal-content ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #BABABA!important;
    font-style:normal!important;
    font-size: 12px;
}
.modal-content :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #BABABA!important;
    opacity:  1!important;
    font-style:normal!important;
    font-size: 12px;
}
.modal-content ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #BABABA!important;
    opacity:  1!important;
    font-style:normal!important;
    font-size: 12px;
}
.modal-content :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #BABABA!important;
    font-style:normal!important;
    font-size: 12px;
}
.modal-content ::-ms-input-placeholder { /* Microsoft Edge */
    color: #BABABA!important;
    font-style:normal!important;
    font-size: 12px;
}

@media (max-width: 800px){
    .champs-form-radio .input-radio{
        margin: 0;
    }
    div > .champs-form-radio:nth-child(2) .input-radio {
        margin-left: 10px;
    }

}
@media (max-width: 350px){
    div > .champs-form-radio:nth-child(2) {
        min-width: 55%;
    }
    div > .champs-form-radio:nth-child(2) .input-radio {
        margin-left: 0;
    }
}

.btn-valider-suivante, .btn-valider-contacter {
    min-width: 100px;
    width: auto;
    padding: 5px 20px;
}

.btn-download, .btn-upload {
    width: auto;
    padding: 7px 15px 7px 5px;
}

.hidden-upload-form input[type=file], input[type=submit]{
    display: none;
}

.hidden-button{
    display: none;
}

/*span.blue-upload{
    background: url('../images/cloudsRewards/upload-blue.png') center center no-repeat;
    padding: 20px;
}*/

.delete-link{
    background:url('../images/cloudsRewards/delete.png') no-repeat;
    height: 21px;
    width: 16px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 5px;
}

/*
 * spécifique aux pages "contenus"
 */
.img-content-login-portal{
    background:url('../images/cloudsRewards/Hands-close-up-of-businesswoman-typing-on-the-keyboard.png') no-repeat;
    background-position: -78px -35px;
}

.fieldset-nav-tabs{
    border-bottom: 1px solid;
    padding-left: 11px;
}

.fieldset-nav-tabs .tab{
    width: auto;
    height: 30px;
    border-radius: 3px 3px 0 0;
    background-color: #efefef;
    font-size: 14px;
    color: 	var(--couleur_4);
    font-family: var(--police);
    font-weight: 400;
    margin-right: 4px;
    padding: 0 5px 0 9px;
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: 0;
}

.fieldset-nav-tabs .tab.active{
    background-color: #4f4f4f;
    color: #FFFFFF;
}

.fieldset-nav-tabs .tab.active a{
    color: inherit !important;
}

.fieldset-nav-tabs .tab.active .delete-tab{
    background: url('../images/cloudsRewards/close1.png') no-repeat;
}
.fieldset-nav-tabs .tab .delete-tab{
    width: 15px;
    height: 15px;
    background: url('../images/cloudsRewards/close2.png') no-repeat;
    margin-left: 5px;
    position: relative;
    display: inline-block;
}

.fieldset-nav-tabs .add-option-tab.add{
    color: #245EDC !important;
}

.add:hover *{
    color: var(--couleur_1);
}

.nav-tabs-container{
    margin-top: 64px;
    margin-bottom: 25px;
}

.slide-image-preview{
    max-width: 95%;
}

.slide-image-preview-container{
    text-align: center;
    padding-bottom: 25px;
}

.slide-unit-order-container{
    display: inline-block;
    text-align: center;
    margin-right: 12px;
}

.slide-unit-order-container .styled-checkbox + label{
    margin: 0 0 0 0!important;
}

.slide-unit-order-label-container label{
    position: absolute;
    bottom: 0;
}

.block-model{
    display: none;
}

.block-model-container{
    display: none;
}

.submit-button-container ~ div{
    display: none;
}

.img-content-home-page-slide{
    background:url('../images/cloudsRewards/hand-computer.png') no-repeat;
    background-position: -103px -51px;
}

.img-content-home-page-editorial{
    background:url('../images/cloudsRewards/hand-writing.png') no-repeat;
    background-position: -188px -60px;
}

.slide-image-preview-container .slide-message-preview{
    color: #FFFFFF;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 3px;
    /*font-size: xx-large;*/
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide-image-preview-container.no-image .no-image-block{
    height: 350px;
    background-color: #CCCCCC;
    width: 75%;
    margin: auto;
}

.slide-image-preview-container.no-image .slide-message-preview{
    color: var(--couleur_4) !important;
}

.add-slide-video-link-text{
    max-width: 70px;
    line-height: 13px;
}

.radio-order-form-element{
    width: 30px;
}

.info-block-after{
    padding-bottom: 0 !important;
}

a.blue-anchor{
    text-decoration: underline !important;
    color: #7682da;
    text-decoration-color: #7682da !important;
    font-size: 15px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .message-input {
        display: flex;
        justify-content: flex-end;
    }
    .message-input > .large-input-text {
        width: 98%;
    }

    .large-input-text.with-margin-left{
        margin-left: 21px;
        width: 80%;
        width: calc(100% - 21px) !important;
    }

    .large-input-text.quite-large-input-text.with-margin-left{
        width: 80%
        width: calc(100% - 56px) !important;
    }

    .large-input-text.quite-large-input-text.no-margin-left{
        width: 80%;
        width: calc(100% - 35px) !important;
    }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
	.large-input-text-select{
		width:100%!important;
	}

	.select-liste-nom-domaine{
		display: inline-block;
		width: 100%;
		position: relative;
		padding: 4px 19px 6px 10px;
		border: 1px solid #636363;
		border-radius: 5px;
		background: #e6e6e6;
		color: black;
		font-family: var(--police);
		cursor: pointer;
		font-size: 14px;
		margin-top: 5px;
	}

	label{
		margin-top:.3em;
	}

	.list-choix-nom-domaine{
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		right: 0;
		top: 31px;
		background: #e6e6e6;
		width: 100%;
		padding:10px;
		display:none;
		border-radius: 0px 0px 5px 5px;
		z-index:100;
		box-shadow: 1px 7px 8px #505050;
	}

	.select-liste-nom-domaine-select{
		display: inline-block;
		width: 100%;
		position: relative;
		padding: 4px 19px 6px 10px;
		border-radius: 5px 5px 0px 0px;
		background: white;
		color: black;
		font-family: var(--police);
		cursor: pointer;
		height: auto;
		box-shadow: 1px 1px 8px #505050;
		margin-top: 5px;
		font-size:14px;
	}

	.large-textarea{
		width: 100%;
		background-color: inherit;
		border: 1px solid #636363;
		border-radius: 5px;
	}

	.img-select-bas{
		width: 20px;
		position: absolute;
		right: 1px;
		top:7px;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
	.large-input-text-select{
		width:100%!important;
	}

	.select-liste-nom-domaine{
		display: inline-block;
		width: 100%;
		position: relative;
		padding: 4px 19px 6px 10px;
		border: 1px solid #636363;
		border-radius: 5px;
		background: #e6e6e6;
		color: black;
		font-family: var(--police);
		cursor: pointer;
		font-size: 14px;
		margin-top: 5px;
	}

	label{
		margin-top:.3em;
	}

	.list-choix-nom-domaine{
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		right: 0;
		top: 31px;
		background: #e6e6e6;
		width: 100%;
		padding:10px;
		display:none;
		border-radius: 0px 0px 5px 5px;
		z-index:100;
		box-shadow: 1px 7px 8px #505050;
	}

	.select-liste-nom-domaine-select{
		display: inline-block;
		width: 100%;
		position: relative;
		padding: 4px 19px 6px 10px;
		border-radius: 5px 5px 0px 0px;
		background: white;
		color: black;
		font-family: var(--police);
		cursor: pointer;
		height: auto;
		box-shadow: 1px 1px 8px #505050;
		margin-top: 5px;
		font-size:14px;
	}

	.large-textarea{
		width: 100%;
		background-color: inherit;
		border: 1px solid #636363;
		border-radius: 5px;
	}

	.img-select-bas{
		width: 20px;
		position: absolute;
		right: 1px;
		top:7px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
	.large-input-text-select{
		width:33%!important;
		display:inline-block!important;
	}

	.select-liste-nom-domaine{
		display:inline-block;
		width:28%;
		position:absolute;
		padding: 4px 19px 6px 10px;
		border: 1px solid #636363;
		border-radius: 5px;
		background: #e6e6e6;
		color: black;
		font-family: var(--police);
		cursor:pointer;
		margin-left:10px;
		font-size:14px;
	}

	label{
		margin-top:.3em;
	}

	.list-choix-nom-domaine{
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		right: 0;
		top: 31px;
		background: #e6e6e6;
		width: 100%;
		padding:10px;
		display:none;
		border-radius: 0px 0px 5px 5px;
		z-index:100;
		box-shadow: 1px 7px 8px #505050;
	}

	.select-liste-nom-domaine-select{
		display: inline-block;
		width: 28%;
		position: absolute;
		padding: 4px 19px 6px 10px;
		border-radius: 5px 5px 0px 0px;
		background: white;
		color: black;
		font-family: var(--police);
		cursor: pointer;
		height: auto;
		box-shadow: 1px 1px 8px #505050;
		margin-left:10px;
		font-size:14px;
	}

	.large-textarea{
		width: 100%;
		background-color: inherit;
		border: 1px solid #636363;
		border-radius: 5px;
	}

	.img-select-bas{
		width: 20px;
		position: absolute;
		right: 1px;
		top:7px;
	}

    .large-input-text{
        width: 90%;
        width: calc(100% - 21px) !important;
        display: inline-block !important;
    }

    .large-input-text.no-margin-left{
        width: 90%;
        width: 100% !important;
        display: inline-block !important;
    }

    .large-input-text.quite-large-input-text{
        width: 80%;
        width: calc(100% - 56px) !important;
    }

    .large-input-text.quite-large-input-text.no-margin-left{
        width: 80%;
        width: calc(100% - 35px) !important;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
	.large-input-text-select{
		width:25%!important;
	}

	.select-liste-nom-domaine{
		display:inline-block;
		width:20%;
		position:absolute;
		padding: 4px 19px 6px 10px;
		border: 1px solid #636363;
		border-radius: 5px;
		background: #e6e6e6;
		color: black;
		font-family: var(--police);
		cursor:pointer;
		margin-left:10px;
		font-size:14px;
	}

	label{
		margin-top:.3em;
	}

	.list-choix-nom-domaine{
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		right: 0;
		top: 31px;
		background: #e6e6e6;
		width: 100%;
		padding:10px;
		display:none;
		border-radius: 0px 0px 5px 5px;
		z-index:100;
		box-shadow: 1px 7px 8px #505050;
	}

	.select-liste-nom-domaine-select{
		display: inline-block;
		width: 20%;
		position: absolute;
		padding: 4px 19px 6px 10px;
		border-radius: 5px 5px 0px 0px;
		background: white;
		color: black;
		font-family: var(--police);
		cursor: pointer;
		height: auto;
		box-shadow: 1px 1px 8px #505050;
		margin-left:10px;
		font-size:14px;
	}

	.large-textarea{
		width: 100%;
		background-color: inherit;
		border: 1px solid #636363;
		border-radius: 5px;
	}

	.img-select-bas{
		width: 20px;
		position: absolute;
		right: 1px;
		top:7px;
	}

    .large-input-text.quite-large-input-text.with-margin-left {
        width: 80%;
        width: calc(100% - 56px) !important;
    }

    .large-input-text.quite-large-input-text.no-margin-left {
        width: 80%;
        width: calc(100% - 35px) !important;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.large-input-text-select{
		width:25%!important;
	}

	.select-liste-nom-domaine{
		display:inline-block;
		width:20%;
		position:absolute;
		padding: 4px 19px 6px 10px;
		border: 1px solid #636363;
		border-radius: 5px;
		background: #e6e6e6;
		color: black;
		font-family: var(--police);
		cursor:pointer;
		margin-left:10px;
		font-size:14px;
	}

	label{
		margin-top:.3em;
	}

	.list-choix-nom-domaine{
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		right: 0;
		top: 31px;
		background: #e6e6e6;
		width: 100%;
		padding:10px;
		display:none;
		border-radius: 0px 0px 5px 5px;
		z-index:100;
		box-shadow: 1px 7px 8px #505050;
	}

	.select-liste-nom-domaine-select{
		display: inline-block;
		width: 20%;
		position: absolute;
		padding: 4px 19px 6px 10px;
		border-radius: 5px 5px 0px 0px;
		background: white;
		color: black;
		font-family: var(--police);
		cursor: pointer;
		height: auto;
		box-shadow: 1px 1px 8px #505050;
		margin-left:10px;
		font-size:14px;
	}

	.large-textarea{
		width: 100%;
		background-color: inherit;
		border: 1px solid #636363;
		border-radius: 5px;
	}

	.img-select-bas{
		width: 20px;
		position: absolute;
		right: 1px;
		top:7px;
	}
}

.adresse-site-recompense{
	font-family: var(--police_bold);
	color: var(--couleur_2) !important;
	text-decoration:underline;
	cursor:pointer;
}

.url-recompense-reservation-txt{
	font-size:13px;
}

.url-recompense-reservation-url,
.url-recompense-reservation-personnaliser{
	font-family: var(--police);
	font-size:14px;
	margin-top:35px;
}

.url-recompense-reservation-personnaliser span{
	font-family: var(--police_bold);
	color: var(--couleur_2) !important;
	text-decoration:underline;
	cursor:pointer;
}

.img-content-login-url {
    background: url('../images/cloudsRewards/url-http-site-challenge.png') no-repeat;
    background-position: -14px -9px;
}

.delete-input {
    width: 25px;
    height: 25px;
    background: url('../images/cloudsRewards/close-table.png') center center no-repeat;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-left: 10px;
    float: right;
}

.large-input-text.no-margin-left{
    margin-left: 0 !important;
}