/*
 * Import font 'Lato'
 */

@font-face {
	font-family: "Lato-Light";
	src: url('../font/Lato/fonts/Lato-Light.ttf');
}

@font-face {
	font-family: "Lato-Regular";
	src: url('../font/Lato/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "Lato-LightItalic";
	src: url('../font/Lato/fonts/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: "Lato-Bold";
	src: url('../font/Lato/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
	font-family: "Lato-BoldItalic";
	src: url('../font/Lato/fonts/Lato-BoldItalic.ttf') format('truetype');
}

/*
 * Base structure
 */

html{
	background:var(--couleur_6);
	font-family: FontAwesome;
}

.bg-faded{
	background:var(--couleur_6)!important;
}

a:hover{
	text-decoration:none;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding:0;
  margin:0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9{
	padding-right:0!important;
	padding-left:0!important;
}

.principale{
	padding-left: 0;
	padding-right: 0;
	max-width:1920px!important;
	width:100%!important;
	margin:0 auto;
	background:url('../images/cloudsRewards/bg-login.png') no-repeat left top;
	position:relative;
}

.container{
	max-width:1920px!important;
	width:100%!important;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.menu-niv-1{
	background:url('../images/cloudsRewards/bandeau-header-login.png');
	background-repeat:no-repeat;
	margin:0;
	padding:0;
	height:126px;
	width:100%;
	z-index:100;
	padding-left:100px;
	padding-right:100px;
}

.menu-niv-2{
	background:var(--couleur_4)!important;
	min-height: 58px;
}

.menu-niv-3{
	background:none!important;
	min-height: 58px;
}

.nav-item-niv-3{
	float: left;
	display: block;
	margin-left: 40px;
}



.active a{
	color:grey;
}


.search{
	background: none !important;
	border: 0 !important;
	color: white !important;
	background: url('../images/cloudsRewards/barre-recherche-barre.png') !important;
	background-repeat: repeat;
	background-repeat: no-repeat !important;
	width:290px;
	background-position: left bottom !important;
}

.search input{
	background: none !important;
	border: 0 !important;
	color: white !important;
	margin-left: 10px !important;
	height: 40px !important;
	padding-top: 19px
}

.icone-search{
	position: absolute;
	left: -10px;
	top: 50%;
	height: 16px;
	margin-top: -8px;
}

/*
.menu-content-sidebare{
	margin-top:50px!important;
}
*/

.nav-link{
	position:relative;
	margin-top:10px;
	height:100px;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active{
	background-color: var(--couleur_6)!important;
}

.navbar-nav{
	display:block!important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white!important;
	font-style:italic!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white!important;
   opacity:  1!important;
   font-style:italic!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white!important;
   opacity:  1!important;
   font-style:italic!important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white!important;
   font-style:italic!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: white!important;
   font-style:italic!important;
}

.content-menu-niv-2{
	margin:0 auto;
}

.content-menu-niv-3{
	margin:0 auto;
}

.nav-item-niv-2 a{
	color:grey;
	text-decoration:none;
}

.nav-item-niv-2 a.active{
	color:white;
}

/*
.accueil{
	width:75px;
}

.dashboard{
	width:100px;
}

.communication{
	width:120px;
}

.participants{
	width:100px;
}

.validations{
	width:100px;
}

.multu-operations{
	width:140px;
}

.parametrages{
	width:100px;
}
*/

.sous-menu-main{
	text-align:center;
}

.fieldset{
	/*width:100%;*/
	padding:10px;
	margin-top:10px;
	position:relative;
	box-shadow: 8px 11px 22px #aaa;
}

section.active{
	background-color:white;
	border-top: 2px solid var(--color_2);
}

section.inactive{
	background-color:#f5f5f5;
}



.radioBtn{
	width: 25px;
	height: 25px;
	cursor: pointer;
	display: inline-block;
	float: left;
	margin-top:5px;
}

.unchecked{
	background:url('../images/cloudsRewards/checkbox-off.png');
}

.checked{
	background:url('../images/cloudsRewards/checked-on.png');
}

.checkboxBtn{
	width:49px;
	height:20px;
	background-repeat:no-repeat!important;
	cursor:pointer;
	float:left;
	margin-top:3px;
}

.no-mode{
	background:url('../images/cloudsRewards/on-off-off.png');
}

.est-mode{
	background:url('../images/cloudsRewards/on-off.png');
}

.input-radio{
	background:none;
	border:0;
}

.FontRec{
	color:#4b84e5;
	font-size:20px;
}

.description-recompenses{
	text-align: justify;
	margin: 0;
	padding: 0;
	padding-left: 36px;
}

.mode-recompense{
	margin: 0;
	padding: 0;
	margin-top:30px;
	width:200px;
	margin-left:34px;
}

.libelle-mode{
}

.content-bloc-gauche{
	width: 110px;
	height: 110px;
	background-repeat: no-repeat;
	border-radius: 54px;
	position:absolute;
	right:10px;
	border: 2px solid grey;
}

.img-challenge{
	background:url('../images/cloudsRewards/arrondi1.png');
	background-position: -59px -34px;
}

.img-fidelites{
	background:url('../images/cloudsRewards/arrondi2.png');
	background-position: -26px -20px;
}

.img-parrainage{
	background:url('../images/cloudsRewards/arrondi3.png');
	background-position: -32px -57px;
}

.img-form-inscription{
	background:url('../images/cloudsRewards/img-form-inscr.png');
	background-position: -76px -29px;
}

.img-import-inscription{
	background:url('../images/cloudsRewards/img-import-form-inscr.png');
	background-position: -76px -29px;
}



.content-bloc-droite{
	float:left;
}

.btn-valider{
	border: 0;
	background: none;
	background-color: #4a83e4;
	width: 100px;
	padding: 5px;
	color: white;
	border-radius: 27px;
	font-size:12px;
	cursor:pointer;
	margin-top:20px;
}

.separator{
	height:20px;
}

.menu-page{
	color: grey;
	font-weight: bold;
	text-decoration: none;
	line-height: 43px;
	display: inline-block;
	border: 0;
}

.menu-page-active{
	color: var(--couleur_2);
	font-weight: bold;
	text-decoration: none;
	line-height: 43px;
	display: inline-block;
	border-bottom: 1px solid;
}


.bulle-aide{
	display: inline-block;
	background: url('../images/cloudsRewards/info-bulle.png');
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
	cursor: pointer;
}

.champs-form{
	width: 100%;
	border: 1px solid grey;
	height: 23px;
	border-radius:5px;
}

.form-input-part-1{
	margin:0 auto;
}

.form-input-part-2{
	margin:0 auto;
}

dt {
    font-weight: normal!important;
}

.champs-form-radio{
	float:left;
}

.champs-form-radio .input-radio{
	width: 25px;
	height: 25px;
	border: 1px solid grey;
	float: left;
	margin-left: 10px;
	border-radius: 14px;
}


main{
	/*border-left: 1px solid #cccaff !important;*/
}

.input-libelle-radio{
	margin-left:10px;
}

.content-option{
	list-style:none;
	padding:0;
	margin:0;
	margin-top: 50px;
}

li.options{
	margin-top:20px;
}

.content-titre{
	color:var(--couleur_2);
	font-size:17px;
}

.content-description{
	margin-top:20px;
}

.content-description-texte p{
	margin:0;
	padding:0;
	text-align:justify;
}

.content-description-texte{
	margin-left:40px;
	padding-top: 5px;
}

.btn-valider-suivante,
.btn-valider-contacter{
	border: 0;
	background: none;
	background-color: #4a83e4;
	width: 100px;
	padding: 9px;
	color: white;
	border-radius: 27px;
	font-size: 12px;
	cursor: pointer;
	margin-top: 20px;
}



.btn-etape-suivante,
.btn-etape-contacter{
	text-align:center;
	width:100%!important;
}

.libelle_btn_dowload{
	position:relative;
	left:5px;
}

.libelle_btn_upload{
	position:relative;
	left:12px;
}



.input-password{
	height:26px;
	padding:0;
	margin:0;
	background:none;
	border:0;
	width:148px;
	background:url('../images/cloudsRewards/input-password.png') top left no-repeat;
	-webkit-margin-left:3px!important;
}


/* hack Chrome / Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.input-password{
		margin-left:3px!important;
	}
}






.error_form{
	margin-left: 87px !important;
	color:red;
	font-size: 14px;
}







.content-message-login p{
	margin:0;
	padding:0;
	width: 306px;
	font-size: 15px;
	color: rgb(80,80,80);
	font-family: var(--police_bold);
	text-align: center;
	margin: 0 auto;
}

.content-message-login h3{
	margin:0;
	padding:0;
	color:var(--couleur_2);
	font-size: 28px;
	font-family: var(--police_light);
	text-align: center;
	margin-top:80px;
}

.description-message{
	margin-top: 50px !important;
}

.content-footer{
	display: block;
	/*background: url('../images/cloudsRewards/bg-footer.png');*/
	background-repeat: no-repeat;
	height:200px;
	padding-top:15px;
	background:var(--couleur_4);
	padding-left: 100px;
	padding-right: 100px;
}

.btn-inscris{
	background:none;
	border:0;
	background:url('../images/cloudsRewards/btn-bleu.png') top left no-repeat;
	width:130px;
	height:34px;
	
	font-size: 15px;
	color: white;
	font-family: var(--police);
	text-align: center;
}

.content-btn-inscris{
	margin-top:80px!important;
	font-size: 15px;
	color: rgb(128,128,128);
	font-family: var(--police);
	text-align: center;
}

.input-identifiant, .input-password{
	padding-left:5px!important;
}

.input-username {
  background:url("../images/cloudsRewards/input-identifiant.png") left top no-repeat;
  border:0;
  height:26px;
  margin:0;
  width:258px;
  padding-left:5px;
}

.lib-username{
	color:white;
	font-size:12px;
	font-family: var(--police);
}

.lib_mot_de_passe_oublie{
	margin-left:56px!important;
	font-size:12px;
	color:white;
}

.input-password-first{
	height: 26px;
	padding: 0;
	margin: 0;
	background: none;
	border: 0;
	width: 258px;
	background: url('../images/cloudsRewards/input-identifiant.png') top left no-repeat;
	margin-left:10px;
}

.input-password-second{
	height: 26px;
	padding: 0;
	margin: 0;
	background: none;
	border: 0;
	width: 148px;
	background: url('../images/cloudsRewards/input-password.png') top left no-repeat;
	margin-left:1px;
}

.lib-password-first{
	font-size: 12px;
	color: white;
	font-family: var(--police);
}

.lib-password-second{
	font-size: 12px;
	color: white;
}

.lib_changer_mot_de_passe{
	color: white;
    font-size: 20px;
    margin-left: 162px!important;
    font-family: var(--police_light);
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
	.lib_changer_mot_de_passe{
		margin-left: -24px !important;
	}
	
	.input-password-first{
		margin-left:0!important;
	}

	div.footer{
		display: block;
		/*background: url('../images/cloudsRewards/bg-footer.png');*/
		background-repeat: no-repeat;
		height:200px;
		margin-top:30px;
		padding-top:15px;
		background:var(--couleur_4);
	}
	
	.lib_mot_de_passe_oublie{
		margin-left:0!important;
		font-size: 20px !important;
		color: rgb(255,255,255) !important;
		font-family: var(--police_light) !important;
		text-align: center;
	}
	
	.content-message-login h3{
		font-size:20px;
	}
	
	.content-message-login p{
		font-size:13px;
	}

	div.content-lefter-footer{
		width: 14%;
		display: inline-block;
		float: left;
	}

	div.content-righter-footer{
		width: 14%;
		margin-right: 5%;
		display: inline-block;
		float: right;
	}

	div.content-center-footer{
		width: 60%;
		display: inline-block;
		float:right;
	}

	span.copyright-footer{
		color:#9a9a9a;
		font-size:12px;
	}

	ul.page-standards-footer{
		margin:0;
		padding:0;
		list-style:none;
		margin:0 auto;
		text-align:center;
	}

	ul.page-standards-footer li{
		display:inline-block;
	}

	ul.page-standards-footer li.page-reglement{
		margin-left:20px;
		margin-right:20px;
	}

	ul.page-standards-footer li a{
		text-decoration:none;
		color:#9a9a9a;
		font-size:12px;
	}

	ul.page-standards-footer li a:hover{
		text-decoration:none;
	}

	ul.rs-sociaux-footer{
		margin:0;
		padding:0;
		list-style:none;
		width:80%;
		margin:0 auto;
		text-align:center;
		margin-top:20px;
		letter-spacing: 10px;
	}

	ul.rs-sociaux-footer li{
		display:inline-block;
	}

	ul.rs-sociaux-footer li.rs-fb{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:10px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-linkdin{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-38px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-viadeo{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-83px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-gplus{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-125px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-twitter{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-173px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-autre{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-216px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}
	
	.mot-de-passe-oublie{
		text-decoration:underline;
		/*float:right;*/
		margin-left: 33px;
	}
	
	.mot-de-passe-oublie:hover{
		text-decoration:underline;
		color:white;
	}
	
	.lib_connexion{
		/*margin-left: 72px!important;*/
		font-size: 20px!important;
		color: rgb(255,255,255)!important;
		font-family: var(--police_light) !important;
		text-align:center;
	}
	
	.check-souvenir{
		display:inline-block;
		background:url('../images/cloudsRewards/radio-se-souvenir.png') top left no-repeat;
		width:17px;
		height:17px;
		vertical-align: middle;
		cursor:pointer;
	}

	.checked-souvenir{
		display:inline-block;
		background:url('../images/cloudsRewards/radio-checked.png') top left no-repeat;
		width:17px;
		height:17px;
		vertical-align: middle;
		cursor:pointer;
		margin-top:2px;
	}
	
	/* hack Chrome / Safari */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.mot-de-passe-oublie{
			/*margin-left:32px;*/
		}
		
		.input-identifiant {
			margin-left: 5px!important;
		}
		
		.lib_connexion{
			/*margin-left:75px!important;*/
		}
		
		.check-souvenir{
			margin-left: 5px;
		}

		.checked-souvenir{
			margin-left: 5px;
		}
	}
	
	
	
	.btn-connexion{
		height:26px;
		padding:0;
		margin:0;
		background:none;
		border:0;
		width:102px;
		background:url('../images/cloudsRewards/btn-connexion.png') top left no-repeat;
		margin-left:3px;
		font-size: 13px;
		color: rgb(255,255,255);
		font-family: var(--police);
	}
	
	.input-identifiant{
		height:26px;
		padding:0;
		margin:0;
		background:none;
		border:0;
		width:258px;
		background:url('../images/cloudsRewards/input-identifiant.png') top left no-repeat;
	}
	
	.lib-identifiant, .lib-password, .lib_connexion, .lib-souvenir, .mot-de-passe-oublie{
		font-size: 12px;
		color: rgb(255,255,255);
		font-family: var(--police);
	}
	
	.lib-identifiant, .lib-password{
		display:block;
	}
	
	.form-connexion {
		height: 100%;
		float: right;
	}
	

	.form-connexion p{
		margin:0;
		padding:0;
		margin-bottom: 3px;
	}
	
	.content-message-login{
		background: white;
		text-align: center;
		padding: 20px;
		height: 650px;
		max-width:400px;
	}
	
	.content-btn-action{
		margin-top:20px;
		margin-left:40px;
		margin-bottom: 40px;
	}

	.btn-valider-download,
	.btn-valider-upload{
		border: 0;
		background: none;
		background-color: #4a83e4;
		width: 200px;
		padding: 9px;
		color: white;
		border-radius: 27px;
		font-size: 12px;
		cursor: pointer;
		margin-top: 20px;
	}

	.btn-valider-download{
		background:#4a83e4 url('../images/cloudsRewards/btn-download.png');
		background-repeat:no-repeat;
		background-position: 13px 10px;
	}

	.btn-valider-upload{
		background:#4a83e4 url('../images/cloudsRewards/btn-upload.png');
		background-repeat:no-repeat;
		background-position: 13px 10px;
		float:right;
	}

	.form-input-part-1{
		margin-top:120px;
	}

	.content-bloc-droite{
		margin-right:120px;
	}
	
	.fieldset{
		height:200px;
	}
	
	#create-form-inscription{
		height:1024px;
	}
	
	#import-form-inscription{
		height: 822px;
	}

	.numero-menu{
		position: absolute;
		top: 0;
		left: 10px;
		display: block;
		color: var(--couleur_5);
		border: 1px solid var(--couleur_5);
		border-radius: 22px;
		width: 26px;
		text-align: center;
		height: 28px;
	}

	.img-menu{
		position: absolute;
		top: 27px;
		left: 50%;
		width: 18px;
		height: 20px;
		margin-left: -9px;
	}

	.text-menu{
		position: absolute;
		top: 53px;
		left: 0;
		width: 100%;
		text-align: center;
		color: var(--couleur_5);
	}
	.nav-item-niv-2{
		float:left;
		display:block;
		margin-left:40px;
	}

	.form-search{
		position:absolute;
		left:50%;
		margin-left:-100px;
		width:200px;
	}
	
	.log-header{
		display:block;
		float:left;
		position: relative;
		top: 13px;
		margin-left:10px;
		cursor:pointer;
	}


	.log-content-header{
		padding-top:10px;
		width:100%;
	}

	#play{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		border-radius:20px;
		background-position: 0px -14px;
	}

	#notification{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		border-radius:20px;
		background-position: -46px -15px;
	}

	#question-marque{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -94px -15px;
		border-radius:20px;
	}

	#mail{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -140px -15px;
		border-radius:20px;
	}

	#casque{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -186px -15px;
		border-radius:20px;
	}

	#profil{
		width:42px;
		height:42px;
		background-color:white;
		border-radius:20px;
		top: 0!important;
	}

	#power{
		width:23px;
		height:22px;
		background-color:white;
		border-radius:20px;
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		background-position: -302px -15px;
	}
	
	.menu-niv-1{
		padding-left:15px;
		padding-right:15px;
	}
	
	.navbar-toggler-right {
		position: absolute;
		right: 1rem;
		bottom: 1rem;
	}
	
	#collapsingNavbarNiv1{
		background: var(--couleur_1);
		position: absolute;
		top: 126px;
		width: 100%;
		left: 0;
	}
	
	.form-connexion{
		height: 100%;
		width: 95%;
		margin: 0 auto;
		float:none;
		padding-bottom:10px;
		text-align:center;
	}
	
	.content-message-login{
		max-width:inherit;
		margin-left: 15px;
		margin-right: 15px;
	}
	
	.content-message-login p{
		width:inherit;
	}
	
	.container{
		/*min-width:400px;*/
	}
	
	.content-footer{
		padding:0;
	}
	
	img{
		width:100%;
		max-width:291px;
	}
	
	div.content-lefter-footer{
		float:none;
		text-align:center;
		display:block;
		width:100%;
		padding-top: 20px;
	}
	
	div.content-center-footer{
		float:none;
		width:100%;
		display:block;
	}
	
	.navbar-brand{
		text-align:center;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
	div.footer{
		display: block;
		/*background: url('../images/cloudsRewards/bg-footer.png');*/
		background-repeat: no-repeat;
		height:200px;
		margin-top:30px;
		padding-top:15px;
		background:var(--couleur_4);
	}
	
	.lib_changer_mot_de_passe{
		margin-left: 0px !important;
	}
	
	.input-password-first{
		margin-left: 0px !important;
	}
	
	.lib_mot_de_passe_oublie{
		margin-left:56px!important;
		font-size: 20px !important;
		color: rgb(255,255,255) !important;
		font-family: var(--police_light) !important;
	}

	div.content-lefter-footer{
		width: 14%;
		display: inline-block;
		float: left;
	}

	div.content-righter-footer{
		width: 14%;
		margin-right: 5%;
		display: inline-block;
		float: right;
	}

	div.content-center-footer{
		width: 60%;
		display: inline-block;
		float:right;
	}

	span.copyright-footer{
		color:#9a9a9a;
		font-size:12px;
	}

	ul.page-standards-footer{
		margin:0;
		padding:0;
		list-style:none;
		width:80%;
		margin:0 auto;
		text-align:center;
	}

	ul.page-standards-footer li{
		display:inline-block;
	}

	ul.page-standards-footer li.page-reglement{
		margin-left:20px;
		margin-right:20px;
	}

	ul.page-standards-footer li a{
		text-decoration:none;
		color:#9a9a9a;
		font-size:12px;
	}

	ul.page-standards-footer li a:hover{
		text-decoration:none;
	}

	ul.rs-sociaux-footer{
		margin:0;
		padding:0;
		list-style:none;
		width:80%;
		margin:0 auto;
		text-align:center;
		margin-top:20px;
		letter-spacing: 10px;
	}

	ul.rs-sociaux-footer li{
		display:inline-block;
	}

	ul.rs-sociaux-footer li.rs-fb{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:10px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-linkdin{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-38px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-viadeo{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-83px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-gplus{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-125px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-twitter{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-173px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-autre{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-216px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}
	
	.mot-de-passe-oublie{
		text-decoration:underline;
		/*float:right;*/
		margin-left: 33px;
	}
	
	.mot-de-passe-oublie:hover{
		text-decoration:underline;
		color:white;
	}
	
	.lib_connexion{
		margin-left: 72px!important;
		font-size: 20px!important;
		color: rgb(255,255,255)!important;
		font-family: var(--police_light) !important;
	}
	
	.check-souvenir{
		display:inline-block;
		background:url('../images/cloudsRewards/radio-se-souvenir.png') top left no-repeat;
		width:17px;
		height:17px;
		margin-left: 72px;
		vertical-align: middle;
		cursor:pointer;
	}

	.checked-souvenir{
		display:inline-block;
		background:url('../images/cloudsRewards/radio-checked.png') top left no-repeat;
		width:17px;
		height:17px;
		margin-left: 72px;
		vertical-align: middle;
		cursor:pointer;
		margin-top:2px;
	}
	
	/* hack Chrome / Safari */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.mot-de-passe-oublie{
			margin-left:32px;
		}
		
		.input-identifiant {
			margin-left: 21px!important;
		}
		
		.lib_connexion{
			margin-left:75px!important;
		}
		
		.check-souvenir{
			margin-left: 75px;
		}

		.checked-souvenir{
			margin-left: 75px;
		}
	}
	
	
	
	.btn-connexion{
		height:26px;
		padding:0;
		margin:0;
		background:none;
		border:0;
		width:102px;
		background:url('../images/cloudsRewards/btn-connexion.png') top left no-repeat;
		margin-left:3px;
		font-size: 13px;
		color: rgb(255,255,255);
		font-family: var(--police);
	}
	
	.input-identifiant{
		height:26px;
		padding:0;
		margin:0;
		background:none;
		border:0;
		width:258px;
		background:url('../images/cloudsRewards/input-identifiant.png') top left no-repeat;
		margin-left: 18px;
	}
	
	.lib-identifiant, .lib-password, .lib_connexion, .lib-souvenir, .mot-de-passe-oublie{
		font-size: 12px;
		color: rgb(255,255,255);
		font-family: var(--police);
	}
	
	.form-connexion {
		height: 100%;
		float: right;
	}
	

	.form-connexion p{
		margin:0;
		padding:0;
		margin-bottom: 3px;
	}
	
	.content-message-login{
		background: white;
		text-align: center;
		padding: 20px;
		height: 650px;
		max-width:400px;
	}
	
	.content-btn-action{
		margin-top:20px;
		margin-left:40px;
		margin-bottom: 40px;
	}

	.btn-valider-download,
	.btn-valider-upload{
		border: 0;
		background: none;
		background-color: #4a83e4;
		width: 200px;
		padding: 9px;
		color: white;
		border-radius: 27px;
		font-size: 12px;
		cursor: pointer;
		margin-top: 20px;
	}

	.btn-valider-download{
		background:#4a83e4 url('../images/cloudsRewards/btn-download.png');
		background-repeat:no-repeat;
		background-position: 13px 10px;
	}

	.btn-valider-upload{
		background:#4a83e4 url('../images/cloudsRewards/btn-upload.png');
		background-repeat:no-repeat;
		background-position: 13px 10px;
		float:right;
	}

	.form-input-part-1{
		margin-top:120px;
	}

	.content-bloc-droite{
		margin-right:120px;
	}
	
	.fieldset{
		height:200px;
	}
	
	#create-form-inscription{
		height:1024px;
	}
	
	#import-form-inscription{
		height: 822px;
	}

	.numero-menu{
		position: absolute;
		top: 0;
		left: 10px;
		display: block;
		color: var(--couleur_5);
		border: 1px solid var(--couleur_5);
		border-radius: 22px;
		width: 26px;
		text-align: center;
		height: 28px;
	}

	.img-menu{
		position: absolute;
		top: 27px;
		left: 50%;
		width: 18px;
		height: 20px;
		margin-left: -9px;
	}

	.text-menu{
		position: absolute;
		top: 53px;
		left: 0;
		width: 100%;
		text-align: center;
		color: var(--couleur_5);
	}
	.nav-item-niv-2{
		float:left;
		display:block;
		margin-left:40px;
	}

	.form-search{
		position:absolute;
		left:50%;
		margin-left:-100px;
		width:200px;
	}
	
	.log-header{
		display:block;
		float:left;
		position: relative;
		top: 13px;
		margin-left:10px;
		cursor:pointer;
	}


	.log-content-header{
		padding-top:10px;
		width:100%;
	}

	#play{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		border-radius:20px;
		background-position: 0px -14px;
	}

	#notification{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		border-radius:20px;
		background-position: -46px -15px;
	}

	#question-marque{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -94px -15px;
		border-radius:20px;
	}

	#mail{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -140px -15px;
		border-radius:20px;
	}

	#casque{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -186px -15px;
		border-radius:20px;
	}

	#profil{
		width:42px;
		height:42px;
		background-color:white;
		border-radius:20px;
		top: 0!important;
	}

	#power{
		width:23px;
		height:22px;
		background-color:white;
		border-radius:20px;
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		background-position: -302px -15px;
	}
	
	.menu-niv-1{
		padding-left:15px;
		padding-right:15px;
	}
	
	.navbar-toggler-right {
		position: absolute;
		right: 1rem;
		bottom: 1rem;
	}
	
	#collapsingNavbarNiv1{
		background: var(--couleur_1);
		position: absolute;
		top: 126px;
		width: 100%;
		left: 0;
	}
	
	.form-connexion{
		height: 100%;
		width: 77%;
		margin: 0 auto;
		float:none;
		padding-bottom:10px;
	}
	
	.content-message-login{
		margin-left: 15px;
		margin-right: 15px;
	}
	
	.content-message-login p{
		width:inherit;
	}
	
	.container{
		min-width:400px;
	}
	
	.content-footer{
		padding:0;
	}
	
	div.content-lefter-footer{
		float:none;
		text-align:center;
		display:block;
		width:100%;
		padding-top: 20px;
	}
	
	div.content-center-footer{
		float:none;
		width:100%;
		display:block;
	}
	
	.navbar-brand{
		text-align:center;
		padding-top: 1.25rem;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
	div.footer{
		display: block;
		/*background: url('../images/cloudsRewards/bg-footer.png');*/
		background-repeat: no-repeat;
		height:200px;
		margin-top:30px;
		padding-top:15px;
		background:var(--couleur_4);
	}
	
	.input-password-first{
		margin-left:1px!important;
	}
	
	.lib_changer_mot_de_passe{
		margin-left:72px!important;
	}

	div.content-lefter-footer{
		width: 14%;
		display: inline-block;
		float: left;
	}

	div.content-righter-footer{
		width: 14%;
		margin-right: 5%;
		display: inline-block;
		float: right;
	}

	div.content-center-footer{
		width: 60%;
		display: inline-block;
		float:right;
	}

	span.copyright-footer{
		color:#9a9a9a;
		font-size:12px;
	}

	ul.page-standards-footer{
		margin:0;
		padding:0;
		list-style:none;
		width:80%;
		margin:0 auto;
		text-align:center;
	}

	ul.page-standards-footer li{
		display:inline-block;
	}

	ul.page-standards-footer li.page-reglement{
		margin-left:20px;
		margin-right:20px;
	}

	ul.page-standards-footer li a{
		text-decoration:none;
		color:#9a9a9a;
		font-size:12px;
	}

	ul.page-standards-footer li a:hover{
		text-decoration:none;
	}

	ul.rs-sociaux-footer{
		margin:0;
		padding:0;
		list-style:none;
		width:80%;
		margin:0 auto;
		text-align:center;
		margin-top:20px;
		letter-spacing: 10px;
	}

	ul.rs-sociaux-footer li{
		display:inline-block;
	}

	ul.rs-sociaux-footer li.rs-fb{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:10px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-linkdin{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-38px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-viadeo{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-83px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-gplus{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-125px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-twitter{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-173px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-autre{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-216px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}
	
	.mot-de-passe-oublie{
		text-decoration:underline;
		/*float:right;*/
		margin-left: 33px;
	}
	
	.mot-de-passe-oublie:hover{
		text-decoration:underline;
		color:white;
	}
	
	.lib_connexion{
		margin-left: 72px!important;
		font-size: 20px!important;
		color: rgb(255,255,255)!important;
		font-family: var(--police_light) !important;
	}
	
	.check-souvenir{
		display:inline-block;
		background:url('../images/cloudsRewards/radio-se-souvenir.png') top left no-repeat;
		width:17px;
		height:17px;
		margin-left: 72px;
		vertical-align: middle;
		cursor:pointer;
	}

	.checked-souvenir{
		display:inline-block;
		background:url('../images/cloudsRewards/radio-checked.png') top left no-repeat;
		width:17px;
		height:17px;
		margin-left: 72px;
		vertical-align: middle;
		cursor:pointer;
		margin-top:2px;
	}
	
	/* hack Chrome / Safari */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.mot-de-passe-oublie{
			margin-left:32px;
		}
		
		.input-identifiant {
			margin-left: 21px!important;
		}
		
		.lib_connexion{
			margin-left:75px!important;
		}
		
		.check-souvenir{
			margin-left: 75px;
		}

		.checked-souvenir{
			margin-left: 75px;
		}
	}
	
	
	
	.btn-connexion{
		height:26px;
		padding:0;
		margin:0;
		background:none;
		border:0;
		width:102px;
		background:url('../images/cloudsRewards/btn-connexion.png') top left no-repeat;
		margin-left:3px;
		font-size: 13px;
		color: rgb(255,255,255);
		font-family: var(--police);
	}
	
	.input-identifiant{
		height:26px;
		padding:0;
		margin:0;
		background:none;
		border:0;
		width:258px;
		background:url('../images/cloudsRewards/input-identifiant.png') top left no-repeat;
		margin-left: 18px;
	}
	
	.lib-identifiant, .lib-password, .lib_connexion, .lib-souvenir, .mot-de-passe-oublie{
		font-size: 12px;
		color: rgb(255,255,255);
		font-family: var(--police);
	}
	
	.form-connexion {
		height: 100%;
		float: right;
	}
	

	.form-connexion p{
		margin:0;
		padding:0;
		margin-bottom: 3px;
	}
	
	.content-message-login{
		background: white;
		text-align: center;
		padding: 20px;
		height: 650px;
		max-width:400px;
	}
	
	.content-btn-action{
		margin-top:20px;
		margin-left:40px;
		margin-bottom: 40px;
	}

	.btn-valider-download,
	.btn-valider-upload{
		border: 0;
		background: none;
		background-color: #4a83e4;
		width: 200px;
		padding: 9px;
		color: white;
		border-radius: 27px;
		font-size: 12px;
		cursor: pointer;
		margin-top: 20px;
	}

	.btn-valider-download{
		background:#4a83e4 url('../images/cloudsRewards/btn-download.png');
		background-repeat:no-repeat;
		background-position: 13px 10px;
	}

	.btn-valider-upload{
		background:#4a83e4 url('../images/cloudsRewards/btn-upload.png');
		background-repeat:no-repeat;
		background-position: 13px 10px;
		float:right;
	}

	.form-input-part-1{
		margin-top:120px;
	}

	.content-bloc-droite{
		margin-right:120px;
	}
	
	.fieldset{
		height:200px;
	}
	
	#create-form-inscription{
		height:1024px;
	}
	
	#import-form-inscription{
		height: 822px;
	}

	.numero-menu{
		position: absolute;
		top: 0;
		left: 10px;
		display: block;
		color: var(--couleur_5);
		border: 1px solid var(--couleur_5);
		border-radius: 22px;
		width: 26px;
		text-align: center;
		height: 28px;
	}

	.img-menu{
		position: absolute;
		top: 27px;
		left: 50%;
		width: 18px;
		height: 20px;
		margin-left: -9px;
	}

	.text-menu{
		position: absolute;
		top: 53px;
		left: 0;
		width: 100%;
		text-align: center;
		color: var(--couleur_5);
	}
	.nav-item-niv-2{
		float:left;
		display:block;
		margin-left:40px;
	}

	.form-search{
		position:absolute;
		left:50%;
		margin-left:-100px;
		width:200px;
	}
	
	.log-header{
		display:block;
		float:left;
		position: relative;
		top: 13px;
		margin-left:10px;
		cursor:pointer;
	}


	.log-content-header{
		padding-top:10px;
		width:100%;
	}

	#play{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		border-radius:20px;
		background-position: 0px -14px;
	}

	#notification{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		border-radius:20px;
		background-position: -46px -15px;
	}

	#question-marque{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -94px -15px;
		border-radius:20px;
	}

	#mail{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -140px -15px;
		border-radius:20px;
	}

	#casque{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -186px -15px;
		border-radius:20px;
	}

	#profil{
		width:42px;
		height:42px;
		background-color:white;
		border-radius:20px;
		top: 0!important;
	}

	#power{
		width:23px;
		height:22px;
		background-color:white;
		border-radius:20px;
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		background-position: -302px -15px;
	}
	
	.menu-niv-1{
		padding-left:15px;
		padding-right:15px;
	}
	
	.navbar-toggler-right {
		position: absolute;
		right: 1rem;
		bottom: 1rem;
	}
	
	#collapsingNavbarNiv1{
		background: var(--couleur_1);
		position: absolute;
		top: 126px;
		width: 100%;
		left: 0;
	}
	
	.form-connexion{
		height: 100%;
		width: 77%;
		margin: 0 auto;
		float:none;
		padding-bottom:10px;
	}
	
	.content-message-login{
		margin-left: 15px;
		margin-right: 15px;
	}
	
	.content-message-login p{
		width:inherit;
	}
	
	.container{
		min-width:400px;
	}
	
	.content-footer{
		padding:0;
	}
	
	div.content-lefter-footer{
		float:none;
		text-align:center;
		display:block;
		width:100%;
		padding-top: 20px;
	}
	
	div.content-center-footer{
		float:none;
		width:100%;
		display:block;
	}
	
	.navbar-brand{
		text-align:center;
		padding-top: 1.25rem;
	}
	
	.principale{
		background-position: -406px 0px;
	}
	
	.content-footer{
		padding-left: 15%;
		padding-right: 15%;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
	div.footer{
		display: block;
		/*background: url('../images/cloudsRewards/bg-footer.png');*/
		background-repeat: no-repeat;
		height:200px;
		margin-top:30px;
		padding-top:15px;
		background:var(--couleur_4);
	}
	
	.lib_changer_mot_de_passe{
		margin-left:72px!important;
	}
	
	.input-password-first{
		margin-left:1px!important;
	}

	div.content-lefter-footer{
		display: inline-block;
		float: left;
	}

	div.content-righter-footer{
		width: 14%;
		margin-right: 5%;
		display: inline-block;
		float: right;
	}

	div.content-center-footer{
		display: block;
		margin: 0 auto;
		width: 247px;
	}

	span.copyright-footer{
		color:#9a9a9a;
		font-size:12px;
	}

	ul.page-standards-footer{
		margin:0;
		padding:0;
		list-style:none;
		margin:0 auto;
	}

	ul.page-standards-footer li{
		display:inline-block;
	}

	ul.page-standards-footer li.page-reglement{
		margin-left:20px;
		margin-right:20px;
	}

	ul.page-standards-footer li a{
		text-decoration:none;
		color:#9a9a9a;
		font-size:12px;
	}

	ul.page-standards-footer li a:hover{
		text-decoration:none;
	}

	ul.rs-sociaux-footer{
		margin:0;
		padding:0;
		list-style:none;
		margin-top:20px;
		letter-spacing: 10px;
	}

	ul.rs-sociaux-footer li{
		display:inline-block;
	}

	ul.rs-sociaux-footer li.rs-fb{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:10px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-linkdin{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-38px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-viadeo{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-83px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-gplus{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-125px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-twitter{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-173px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-autre{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-216px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}
	
	.mot-de-passe-oublie{
		text-decoration:underline;
		/*float:right;*/
		margin-left: 33px;
	}
	
	.mot-de-passe-oublie:hover{
		text-decoration:underline;
		color:white;
	}
	
	.lib_connexion{
		margin-left: 72px!important;
		font-size: 20px!important;
		color: rgb(255,255,255)!important;
		font-family: var(--police_light) !important;
	}
	
	.check-souvenir{
		display:inline-block;
		background:url('../images/cloudsRewards/radio-se-souvenir.png') top left no-repeat;
		width:17px;
		height:17px;
		margin-left: 72px;
		vertical-align: middle;
		cursor:pointer;
	}

	.checked-souvenir{
		display:inline-block;
		background:url('../images/cloudsRewards/radio-checked.png') top left no-repeat;
		width:17px;
		height:17px;
		margin-left: 72px;
		vertical-align: middle;
		cursor:pointer;
		margin-top:2px;
	}
	
	/* hack Chrome / Safari */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.mot-de-passe-oublie{
			margin-left:32px;
		}
		
		.input-identifiant {
			margin-left: 21px!important;
		}
		
		.lib_connexion{
			margin-left:75px!important;
		}
		
		.check-souvenir{
			margin-left: 75px;
		}

		.checked-souvenir{
			margin-left: 75px;
		}
	}
	
	
	
	.btn-connexion{
		height:26px;
		padding:0;
		margin:0;
		background:none;
		border:0;
		width:102px;
		background:url('../images/cloudsRewards/btn-connexion.png') top left no-repeat;
		margin-left:3px;
		font-size: 13px;
		color: rgb(255,255,255);
		font-family: var(--police);
	}
	
	.input-identifiant{
		height:26px;
		padding:0;
		margin:0;
		background:none;
		border:0;
		width:258px;
		background:url('../images/cloudsRewards/input-identifiant.png') top left no-repeat;
		margin-left: 18px;
	}
	
	.lib-identifiant, .lib-password, .lib_connexion, .lib-souvenir, .mot-de-passe-oublie{
		font-size: 12px;
		color: rgb(255,255,255);
		font-family: var(--police);
	}
	
	.form-connexion {
		height: 100%;
		float: right;
	}
	

	.form-connexion p{
		margin:0;
		padding:0;
		margin-bottom: 3px;
	}
	
	.content-message-login{
		background: white;
		text-align: center;
		padding: 20px;
		height: 650px;
		max-width:400px;
	}
	
	.content-btn-action{
		margin-top:20px;
		margin-left:40px;
		margin-bottom: 40px;
	}

	.btn-valider-download,
	.btn-valider-upload{
		border: 0;
		background: none;
		background-color: #4a83e4;
		width: 200px;
		padding: 9px;
		color: white;
		border-radius: 27px;
		font-size: 12px;
		cursor: pointer;
		margin-top: 20px;
	}

	.btn-valider-download{
		background:#4a83e4 url('../images/cloudsRewards/btn-download.png');
		background-repeat:no-repeat;
		background-position: 13px 10px;
	}

	.btn-valider-upload{
		background:#4a83e4 url('../images/cloudsRewards/btn-upload.png');
		background-repeat:no-repeat;
		background-position: 13px 10px;
		float:right;
	}

	.form-input-part-1{
		margin-top:120px;
	}

	.content-bloc-droite{
		margin-right:120px;
	}
	
	.fieldset{
		height:200px;
	}
	
	#create-form-inscription{
		height:1024px;
	}
	
	#import-form-inscription{
		height: 822px;
	}

	.numero-menu{
		position: absolute;
		top: 0;
		left: 10px;
		display: block;
		color: var(--couleur_5);
		border: 1px solid var(--couleur_5);
		border-radius: 22px;
		width: 26px;
		text-align: center;
		height: 28px;
	}

	.img-menu{
		position: absolute;
		top: 27px;
		left: 50%;
		width: 18px;
		height: 20px;
		margin-left: -9px;
	}

	.text-menu{
		position: absolute;
		top: 53px;
		left: 0;
		width: 100%;
		text-align: center;
		color: var(--couleur_5);
	}
	.nav-item-niv-2{
		float:left;
		display:block;
		margin-left:40px;
	}

	.form-search{
		position:absolute;
		left:50%;
		margin-left:-100px;
		width:200px;
	}
	
	.log-header{
		display:block;
		float:left;
		position: relative;
		top: 13px;
		margin-left:10px;
		cursor:pointer;
	}


	.log-content-header{
		padding-top:10px;
		width:100%;
	}

	#play{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		border-radius:20px;
		background-position: 0px -14px;
	}

	#notification{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		border-radius:20px;
		background-position: -46px -15px;
	}

	#question-marque{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -94px -15px;
		border-radius:20px;
	}

	#mail{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -140px -15px;
		border-radius:20px;
	}

	#casque{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -186px -15px;
		border-radius:20px;
	}

	#profil{
		width:42px;
		height:42px;
		background-color:white;
		border-radius:20px;
		top: 0!important;
	}

	#power{
		width:23px;
		height:22px;
		background-color:white;
		border-radius:20px;
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		background-position: -302px -15px;
	}
	
	.principale{
		background-position: -218px 0px;
	}
	
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	div.footer{
		display: block;
		/*background: url('../images/cloudsRewards/bg-footer.png');*/
		background-repeat: no-repeat;
		height:200px;
		margin-top:30px;
		padding-top:15px;
		background:var(--couleur_4);
	}
	
	.lib_changer_mot_de_passe{
		margin-left:72px!important;
	}
	
	.input-password-first{
		margin-left:1px!important;
	}

	div.content-lefter-footer{
		width: 14%;
		display: inline-block;
		float: left;
	}
	
	.lib_mot_de_passe_oublie{
		margin-left:56px!important;
		font-size: 20px !important;
		color: rgb(255,255,255) !important;
		font-family: var(--police_light) !important;
	}

	div.content-righter-footer{
		width: 14%;
		margin-right: 5%;
		display: inline-block;
		float: right;
	}

	div.content-center-footer{
		display: block;
		margin: 0 auto;
		width: 247px;
	}

	span.copyright-footer{
		color:#9a9a9a;
		font-size:12px;
	}

	ul.page-standards-footer{
		margin:0;
		padding:0;
		list-style:none;
	}

	ul.page-standards-footer li{
		display:inline-block;
	}

	ul.page-standards-footer li.page-reglement{
		margin-left:20px;
		margin-right:20px;
	}

	ul.page-standards-footer li a{
		text-decoration:none;
		color:#9a9a9a;
		font-size:12px;
	}

	ul.page-standards-footer li a:hover{
		text-decoration:none;
	}

	ul.rs-sociaux-footer{
		margin:0;
		padding:0;
		list-style:none;
		margin:0 auto;
		margin-top:20px;
		letter-spacing: 10px;
	}

	ul.rs-sociaux-footer li{
		display:inline-block;
	}

	ul.rs-sociaux-footer li.rs-fb{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:10px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-linkdin{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-38px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-viadeo{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-83px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-gplus{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-125px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-twitter{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-173px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}

	ul.rs-sociaux-footer li.rs-autre{
		background: url('../images/cloudsRewards/rs.png');
		background-repeat: no-repeat;
		background-position:-216px 0px;
		width:25px;
		height:25px;
		cursor:pointer;
	}
	
	.mot-de-passe-oublie{
		text-decoration:underline;
		/*float:right;*/
		margin-left: 33px;
	}
	
	.mot-de-passe-oublie:hover{
		text-decoration:underline;
		color:white;
	}
	
	.lib_connexion{
		margin-left: 72px!important;
		font-size: 20px!important;
		color: rgb(255,255,255)!important;
		font-family: var(--police_light) !important;
	}
	
	.check-souvenir{
		display:inline-block;
		background:url('../images/cloudsRewards/radio-se-souvenir.png') top left no-repeat;
		width:17px;
		height:17px;
		margin-left: 72px;
		vertical-align: middle;
		cursor:pointer;
	}

	.checked-souvenir{
		display:inline-block;
		background:url('../images/cloudsRewards/radio-checked.png') top left no-repeat;
		width:17px;
		height:17px;
		margin-left: 72px;
		vertical-align: middle;
		cursor:pointer;
		margin-top:2px;
	}
	
	/* hack Chrome / Safari */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.mot-de-passe-oublie{
			margin-left:32px;
		}
		
		.input-identifiant {
			margin-left: 21px!important;
		}
		
		.lib_connexion{
			margin-left:75px!important;
		}
		
		.check-souvenir{
			margin-left: 75px;
		}

		.checked-souvenir{
			margin-left: 75px;
		}
	}
	
	
	
	.btn-connexion{
		height:26px;
		padding:0;
		margin:0;
		background:none;
		border:0;
		width:102px;
		background:url('../images/cloudsRewards/btn-connexion.png') top left no-repeat;
		margin-left:3px;
		font-size: 13px;
		color: rgb(255,255,255);
		font-family: var(--police);
	}
	
	.input-identifiant{
		height:26px;
		padding:0;
		margin:0;
		background:none;
		border:0;
		width:258px;
		background:url('../images/cloudsRewards/input-identifiant.png') top left no-repeat;
		margin-left: 18px;
	}
	
	.lib-identifiant, .lib-password, .lib_connexion, .lib-souvenir, .mot-de-passe-oublie{
		font-size: 12px;
		color: rgb(255,255,255);
		font-family: var(--police);
	}
	
	.form-connexion {
		height: 100%;
		float: right;
	}
	

	.form-connexion p{
		margin:0;
		padding:0;
		margin-bottom: 3px;
	}
	
	.content-message-login{
		background: white;
		text-align: center;
		padding: 20px;
		height: 650px;
		max-width:400px;
	}
	
	.content-btn-action{
		margin-top:20px;
		margin-left:40px;
		margin-bottom: 40px;
	}

	.btn-valider-download,
	.btn-valider-upload{
		border: 0;
		background: none;
		background-color: #4a83e4;
		width: 200px;
		padding: 9px;
		color: white;
		border-radius: 27px;
		font-size: 12px;
		cursor: pointer;
		margin-top: 20px;
	}

	.btn-valider-download{
		background:#4a83e4 url('../images/cloudsRewards/btn-download.png');
		background-repeat:no-repeat;
		background-position: 13px 10px;
	}

	.btn-valider-upload{
		background:#4a83e4 url('../images/cloudsRewards/btn-upload.png');
		background-repeat:no-repeat;
		background-position: 13px 10px;
		float:right;
	}

	.form-input-part-1{
		margin-top:120px;
	}

	.content-bloc-droite{
		margin-right:120px;
	}
	
	.fieldset{
		height:200px;
	}
	
	#create-form-inscription{
		height:1024px;
	}
	
	#import-form-inscription{
		height: 822px;
	}

	.numero-menu{
		position: absolute;
		top: 0;
		left: 10px;
		display: block;
		color: var(--couleur_5);
		border: 1px solid var(--couleur_5);
		border-radius: 22px;
		width: 26px;
		text-align: center;
		height: 28px;
	}

	.img-menu{
		position: absolute;
		top: 27px;
		left: 50%;
		width: 18px;
		height: 20px;
		margin-left: -9px;
	}

	.text-menu{
		position: absolute;
		top: 53px;
		left: 0;
		width: 100%;
		text-align: center;
		color: var(--couleur_5);
	}
	.nav-item-niv-2{
		float:left;
		display:block;
		margin-left:40px;
	}

	.form-search{
		position:absolute;
		left:50%;
		margin-left:-100px;
		width:200px;
	}
	
	.log-header{
		display:block;
		float:left;
		position: relative;
		top: 13px;
		margin-left:10px;
		cursor:pointer;
	}


	.log-content-header{
		padding-top:10px;
		width:100%;
	}

	#play{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		border-radius:20px;
		background-position: 0px -14px;
	}

	#notification{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		border-radius:20px;
		background-position: -46px -15px;
	}

	#question-marque{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -94px -15px;
		border-radius:20px;
	}

	#mail{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -140px -15px;
		border-radius:20px;
	}

	#casque{
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		width:23px;
		height:22px;
		background-position: -186px -15px;
		border-radius:20px;
	}

	#profil{
		width:42px;
		height:42px;
		background-color:white;
		border-radius:20px;
		top: 0!important;
	}

	#power{
		width:23px;
		height:22px;
		background-color:white;
		border-radius:20px;
		background: url('../images/cloudsRewards/log.png');
		background-repeat:no-repeat;
		background-position: -302px -15px;
	}
	/*.content-footer{
		padding-left: 15%;
		padding-right: 15%;
	}*/
}
button.btn-valider, .menu-niv-1 {
    background: linear-gradient(to right, var(--couleur_1), var(--couleur_1_bis) );
    background: -webkit-linear-gradient(to right, var(--couleur_1), var(--couleur_1_bis) );
    background: -o-linear-gradient(to right, var(--couleur_1), var(--couleur_1_bis) );
    background: -moz-linear-gradient(to right, var(--couleur_1), var(--couleur_1_bis) );    
}
button.btn-valider:hover {
    background: linear-gradient(to right, var(--couleur_1), var(--couleur_1) ) !important; 
    background: -webkit-linear-gradient(to right, var(--couleur_1), var(--couleur_1) ) !important;
    background: -o-linear-gradient(to right, var(--couleur_1), var(--couleur_1) ) !important;
    background: -moz-linear-gradient(to right, var(--couleur_1), var(--couleur_1) ) !important;
}