.registre{
	background:url('../images/cloudsRewards/bandeau-header-login.png');
	background-repeat:no-repeat;
	margin:0;
	padding:0;
	height:76px;
	width:100%;
	z-index:100;
	padding-left:100px;
	padding-right:100px;
}

/*.challenge{
	 background: url('../images/cloudsRewards/slide-1024.jpg');
	 background-repeat:no-repeat;

}*/

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    margin-top:22px;
    /*position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    border-top: solid 2px var(--couleur_2);
    margin-bottom: 46px;
}


.logout{
	position: relative;
    left: -44px;
    width: 28px;
    height: 20px;
}

.logout a{
	mask-image: url('../images/cloudsRewards/logout.svg');
	-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
	position: relative;
	left: 1867%;
	cursor: pointer;
	-webkit-text-fill-color: white;
	mask-position: center;
	-webkit-mask-position: center;
	display: block;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	height: 26px;
	background: white;
}


div.all{
	background: url('../images/cloudsRewards/bg-slide.png');
	background-repeat:no-repeat;
	background-position: 0px -123px;
	z-index: 1;
}

.form{
	margin-left: 82px;
}

.form-group {
    margin-bottom: 1.7rem !important;
}

.label-position{
	position: relative !important;
	top: 7px !important;
}
.condtion{
	margin-bottom: 1.3rem !important;
}

.civility{
	margin-bottom: 1.3rem !important;
}

.text{
	width: 691px;
	height: 172px;
	line-height: 20px;
	text-align: left;
	margin-bottom: 72px;
	margin-left: 25px;
}



.form-control{
	margin-left: 6px!important;
}


.challenge img{
width: 100%;
position: relative;
left: 0px;
margin-top: 15px;
height: 233px;
}

 .salut{
	border: 3px solid rgb(176,183,197);
	width: 100px;
	height: 92px;
}
.symbole{
	float: right;
margin-right: 110px;
position: relative;
top: -24px;
}
.titre{
	margin-top: 67px;
}

.message{
	font-size: 11px;
	color: #424960;
	max-width: 83%;
	font-weight: bold;
	position: relative;
	top: -16px;

}

.valide{
	position: relative;
	left: 30%;
	margin-bottom: 101px;
	top: 15px;

}
.valide-user{
	height: 34px;
	width: 130px !important;
}
.g-recaptcha{
	position: relative !important;
left: 107px !important;
}

.inscription{
	position: relative;
	top: 4px;
	color: rgb(102,122,224);
	font-family: "Lato-Regular";
	
}
.bienvenu{
	color: rgb(102,122,224);
	font-family: "Lato-Regular";
	margin-bottom: 27px;
	position: relative;
	top: -16px;
	font-weight: bold;
	
}
.inscription h4{
font-size: 20px;
}

.bienvenu h4{
	font-weight: bold;
	font-size: 14px;
}
label{
	text-align: left;
}

.password ul>li{
	list-style-type: none;
	font-size: 12px;
}

.recaptErreur ul>li{
	list-style-type: none;
	font-size: 12px;
	margin-left: 71px;
}
.emailErreur ul>li{
	list-style-type: none;
	font-size: 12px;
}

#fos_user_registration_form_civility_1{
	margin-left: 39px;
}

.civ2{
	margin-left: 20px;
}

.civ1{
	/*margin-left: -5px;*/
	left: -6px;
}

.cv-label{
	position: relative;
	left: -16px;
}
.label-acepte{
	position: relative;
	left: -16px;
}

.civ3{
	left: -6px;
	top: -7px;
}



.logo-cloud{
	position: relative;
	left: 257px;
}
.recapt{
margin-top: 31px;
margin-left: 40px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;

}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 1px;
    top: -2px;
    width: 23px;
    height: 23px;
    border: 1px solid rgb(176,183,197);
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 23px;
    height: 23px;
    /*background: #667ADE;*/
    position: absolute;
    top: -2px;
    left: 1px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: url('../images/cloudsRewards/checkon.png') no-repeat;   
    /*background-size: auto auto;*/
	background-size: 23px 23px;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

}

/*=================================Max1200=========================================================================*/

@media (min-width: 1200px) {
.registre{
	background:url('../images/cloudsRewards/bandeau-header-login.png');
	background-repeat:no-repeat;
	margin:0;
	padding:0;
	height:76px;
	width:100%;
	z-index:100;
	padding-left:100px;
	padding-right:100px;
}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    margin-top:22px;
    /*position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    border-top: solid 2px var(--couleur_2);
    margin-bottom: 46px;
}


.logout{
	position: relative;
    left: -44px;
    width: 28px;
    height: 20px;
}

.logout a{
	mask-image: url('../images/cloudsRewards/logout.svg');
	-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
	position: relative;
	left: 1867%;
	cursor: pointer;
	-webkit-text-fill-color: white;
	mask-position: center;
	-webkit-mask-position: center;
	display: block;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	height: 26px;
	background: white;
}


div.all{
	background: url('../images/cloudsRewards/bg-slide.png');
	background-repeat:no-repeat;
	background-position: 0px -123px;
	z-index: 1;
}

.form{
	margin-left: 82px;
}

.form-group {
    margin-bottom: 1.7rem !important;
}

.label-position{
	position: relative !important;
	top: 7px !important;
}
.condtion{
	margin-bottom: 1.3rem !important;
}

.civility{
	margin-bottom: 1.3rem !important;
}

.text{
	width: 691px;
	height: 172px;
	line-height: 20px;
	text-align: left;
	margin-bottom: 72px;
	margin-left: 25px;
}



.form-control{
	margin-left: 6px!important;
}


.challenge img{
width: 100%;
position: relative;
left: 0px;
margin-top: 15px;
height: 185px;
}

 .salut{
	border: 3px solid rgb(176,183,197);
	width: 100px;
	height: 92px;
}
.symbole{
	float: right;
margin-right: 110px;
position: relative;
top: -24px;
}
.titre{
	margin-top: 67px;
}

.message{
	font-size: 11px;
	color: #424960;
	max-width: 83%;
	font-weight: bold;
	position: relative;
	top: -16px;

}

.valide{
	position: relative;
	left: 30%;
	margin-bottom: 101px;
	top: 15px;

}
.valide-user{
	height: 34px;
	width: 130px !important;
}
.g-recaptcha{
	position: relative !important;
left: 107px !important;
}

.inscription{
	position: relative;
	top: 4px;
	color: rgb(102,122,224);
	font-family: "Lato-Regular";

	
}
.bienvenu{
	color: rgb(102,122,224);
	font-family: "Lato-Regular";
	margin-bottom: 27px;
	position: relative;
	top: -16px;
	font-weight: bold;
}
.inscription h4{
font-size: 20px;
}

.bienvenu h4{
	font-weight: bold;
	font-size: 16px;
}

label{
	text-align: left;
}

.password ul>li{
	list-style-type: none;
	font-size: 12px;
}

.recaptErreur ul>li{
	list-style-type: none;
	font-size: 12px;
	margin-left: 71px;
}
.emailErreur ul>li{
	list-style-type: none;
	font-size: 12px;
}

#fos_user_registration_form_civility_1{
	margin-left: 39px;
}

.civ2{
	margin-left: 20px;
}

.civ1{
	/*margin-left: -5px;*/
	left: -6px;
}

.cv-label{
	position: relative;
	left: -16px;
}
.label-acepte{
	position: relative;
	left: -16px;
}

.civ3{
	left: -6px;
	top: -7px;
}



.logo-cloud{
	position: relative;
	left: 257px;
}
.recapt{
margin-top: 31px;
margin-left: 40px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;

}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 1px;
    top: -2px;
    width: 23px;
    height: 23px;
    border: 1px solid rgb(176,183,197);
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 23px;
    height: 23px;
    /*background: #667ADE;*/
    position: absolute;
    top: -2px;
    left: 1px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: url('../images/cloudsRewards/checkon.png') no-repeat;
    /*background-size: auto auto;*/
	background-size: 23px 23px;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

}

/*================================================Max368===============================================================*/
@media (max-width: 368px)  {
	
	.logo-cloud {
	    position: relative;
	    left: -69px;
	    top: 14px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}


.registre{
	background:url('../images/cloudsRewards/bandeau-header-login.png');
	background-repeat:no-repeat;
	margin:0;
	padding:0;
	height:76px;
	width:100%;
	z-index:100;
	padding-left:100px;
	padding-right:100px;
}

.logout{
	position: relative;
	top: -16px;
	width: 25px;
	left: -219px;
}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
		display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;
		background: white;
	}


div.all{
	background: url('../images/cloudsRewards/bg-slide.png');
	background-repeat:no-repeat;
	background-position: 0px -123px;
	z-index: 1;
}


.challenge img{
	width: 100%;
	position: relative;
	left: 12px;
	margin-top: 15px;
	height: 185px;
}
.message{
	font-size: 11px;
	color: #424960;
	max-width: 41%;
	font-weight: bold;
	position: relative;
	top: -16px;
}

.text{
	width: 691px !important;
	height: 172px !important;
	line-height: 20px !important;
	text-align: left !important;
	margin-bottom: 168px !important;
	margin-left: 22px !important;
}


.recapt{
	position: relative;
	left: -186px;
}

.valide{
	position: relative;
	left: 32px;
	margin-bottom: 101px;
	top: 15px;

}

.symbole{
float: right;
margin-right: 414px;
position: relative;
top: -8px;
}

.form{
	margin-left: 44px;
}

.label-position{
	position: relative !important;
	top: -10px !important;
}

}

/*===============================================368-458======================================================================*/
@media (min-width: 368px) and (max-width: 458px) {

	.logout{
		position: relative;
		top: -2px;
		width: 25px;
		left: -226px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}
	#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}


	.logo-cloud {
	    position: relative;
	    left: -10px;
	    top: 8px;
	}

div.all{
	background: url('../images/cloudsRewards/bg-slide.png');
	background-repeat:no-repeat;
	background-position: 0px -123px;
	z-index: 1;
}


.message{
	font-size: 11px;
	color: #424960;
	max-width: 44%;
	font-weight: bold;
	position: relative;
	top: -16px;
}

.challenge img{
	width: 100%;
	position: relative;
	left: 37px;
	margin-top: 15px;
	height: 185px;
}

	.symbole{
		float: right;
		margin-right: 378px;
		position: relative;
		top: -11px;
	}

	.recapt{
		position: relative;
		left: -186px;
	}

	.valide{
		position: relative;
		left: 32px;
		margin-bottom: 101px;
		top: 15px;

	}

	.form{
		margin-left: 56px;
	}

.label-position{
	position: relative !important;
	top: -10px !important;
}

	.text{
		width: 691px !important;
		height: 172px !important; 
		line-height: 20px !important;
		text-align: left !important;
		margin-bottom: 164px !important;
		margin-left: 37px !important;
	}
}

/*===============================================458-575======================================================================*/


@media (min-width: 458px) and (max-width: 575px) {
	.logo-cloud {
		    position: relative;
		    left: -131px;
	}
	.logout{
		position: relative;
		top: -39px;
		width: 25px;
		left: -92px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}


	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}


	.message{
		font-size: 11px;
		color: #424960;
		max-width: 65%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}


	.challenge img{
		width: 100%;
		position: relative;
		left: 103px;
		margin-top: 15px;
		height: 185px;
	}

	.recapt{
		position: relative;
		left: -120px;
	}

	.valide{
		position: relative;
		left: 32px;
		margin-bottom: 101px;
		top: 15px;

	}

	.symbole{
		float: right;
		margin-right: 315px;
		position: relative;
		top: -32px;
	}

.form{
	margin-left: 42px;
}

.label-position{
	position: relative !important;
	top: -10px !important;
}

.text{
	width: 691px;
	height: 172px;
	line-height: 20px;
	text-align: left;
	margin-bottom: 113px;
	margin-left: 25px;
}


}


/*===================================================576-644=================================================================*/
@media (min-width: 576px) and (max-width: 644px) {

	.logo-cloud {
		    position: relative;
		    left: -131px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}

.logout{
		position: relative;
		top: -39px;
		width: 25px;
		left: 73px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}


	.message{
		font-size: 11px;
		color: #424960;
		max-width: 79%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}


	.challenge img{
		width: 97%;
		position: relative;
		left: 6px;
		margin-top: 15px;
		height: 185px;
	}

	.recapt{
		position: relative;
		left: 22px;
	}

.valide{
	position: relative;
	left: 207px;
	margin-bottom: 101px;
	top: 15px;

}
.symbole{
		float: right;
		margin-right: 189px;
		position: relative;
		top: -32px;
	}

.text{
	width: 691px;
	height: 172px;
	line-height: 20px;
	text-align: left;
	margin-bottom: 113px;
	margin-left: 25px;
}


.form{
	margin-left: 42px;
}


}




/*====================================================645-648================================================================*/

@media (min-width: 645px) and (max-width: 648px) {

	.logo-cloud {
		    position: relative;
		    left: -131px;
	}

	#ens{
		width: 100%;
		height: auto;
	}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}
.logout{
		position: relative;
		top: -39px;
		width: 25px;
		left: 237px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}


	.message{
		font-size: 11px;
		color: #424960;
		max-width: 79%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}


	.challenge img{
		width: 97%;
		position: relative;
		left: 18px;
		margin-top: 15px;
		height: 185px;
	}

	.recapt{
		position: relative;
		left: 22px;
	}

.valide{
	position: relative;
	left: 207px;
	margin-bottom: 101px;
	top: 15px;

}

.symbole{
		float: right;
		margin-right: 189px;
		position: relative;
		top: -32px;
}



}
/*=====================================================649-767===============================================================*/
@media (min-width: 649px) and (max-width: 767px) {

	.logo-cloud {
		    position: relative;
		    left: -131px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}

	.logout{
		position: relative;
		top: -39px;
		width: 25px;
		left: 107px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
		padding-right: 38px;
	}


	.message{
		font-size: 11px;
		color: #424960;
		max-width: 61%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}


	.challenge img{
		width: 100%;
		position: relative;
		left: 13px;
		margin-top: 15px;
		height: 185px;
	}

	.recapt{
		position: relative;
		left: 22px;
	}

.valide{
	position: relative;
	left: 207px;
	margin-bottom: 101px;
	top: 15px;

}

.symbole{
		float: right;
		margin-right: 273px;
		position: relative;
		top: -32px;
}
.form{
	margin-left: 45px;
}

.titre{
	margin-left: 28px;
}

.inscription{
	position: relative;
	top: 4px;
	color: rgb(102,122,224);
	font-family: "Lato";
	margin-left: 28px;
	
}

}
/*========================================================768-831============================================================*/
@media (min-width: 768px) and (max-width: 831px) {

	.logo-cloud {
		    position: relative;
		    left: -131px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}

	.logout{
		position: relative;
		top: -39px;
		width: 25px;
		left: 237px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}
	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}


	.message{
		font-size: 11px;
		color: #424960;
		max-width: 47%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}


	.challenge img{
		width: 100%;
		position: relative;
		left: 2px;
		margin-top: 15px;
		height: 185px;
	}

	.recapt{
		position: relative;
		left: -162px;
	}

.valide{
	position: relative;
	left: 117px;
	margin-bottom: 101px;
	top: 15px;

}

.symbole{
		float: right;
		margin-right: 344px;
		position: relative;
		top: -32px;
}



}
/*=======================================================831-933=============================================================*/
@media (min-width: 831px) and (max-width: 934px) {

	.logo-cloud {
		    position: relative;
		    left: -131px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}

	.logout{
		position: relative;
		top: -39px;
		width: 25px;
		left: 237px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}


.symbole {
    float: right;
    margin-right: 341px;
    position: relative;
    top: -32px;
}

	.message{
		font-size: 11px;
		color: #424960;
		max-width: 50%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}


	.challenge img{
		width: 100%;
		position: relative;
		left: 0px;
		margin-top: 15px;
		height: 185px;
	}

	.recapt{
		position: relative;
		left: -125px;
	}

.valide{
	position: relative;
	left: 94px;
	margin-bottom: 101px;
	top: 15px;

}


}

/*=======================================================934=============================================================*/

@media (min-width: 934px) and (max-width: 992px) {

	.logo-cloud {
	    position: relative !important;
	    left: -131px !important;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}
	.logout{
		position: relative;
		top: -39px;
		width: 25px;
		left: 237px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}


.symbole {
    float: right;
    margin-right: 310px;
    position: relative;
    top: -32px;
}

	.message{
		font-size: 11px;
		color: #424960;
		max-width: 58%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}


	.challenge img{
		width: 100%;
		position: relative;
		left: -7px;
		margin-top: 15px;
		height: 185px;
	}

	.recapt{
		position: relative;
		left: -60px;
	}

.valide{
	position: relative;
	left: 154px;
	margin-bottom: 101px;
	top: 15px;

}


}


/*====================================================================================================================*/
@media (min-width: 992px) and (max-width: 1000px) {

	.logo-cloud {
		    position: relative;
		    left: 159px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}

.logout {
    position: relative;
    left: -260px;
    width: 28px;
    height: 20px;
}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1867%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}


.symbole {
    float: right;
    margin-right: 256px;
    position: relative;
    top: -22px;
}

	.message{
		font-size: 11px;
		color: #424960;
		max-width: 60%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}


	.challenge img{
		width: 100%;
		position: relative;
		left: -7px;
		margin-top: 15px;
		height: 185px;
	}

	.recapt{
		position: relative;
		left: -66px;
	}

.valide{
	position: relative;
	left: 172px;
	margin-bottom: 101px;
	top: 15px;

}


}
/*====================================================================================================================*/
@media (min-width: 1000px) and (max-width: 1090px) {

	.logo-cloud {
		    position: relative;
		    left: 159px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}

	.logout{
		position: relative;
    	width: 29px;
		left: -37px;
		height: 16px;
	}
	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1216%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}
	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}


.symbole {
    float: right;
    /*margin-right: 179px;*/
    position: relative;
    top: -32px;
    left: -208px;
}

	.message{
		font-size: 11px;
		color: #424960;
		max-width: 60%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}


	.challenge img{
		width: 100%;
		position: relative;
		left: -7px;
		margin-top: 15px;
		height: 185px;
	}

	.recapt{
		position: relative;
		left: -50px;
	}

.valide{
	position: relative;
	left: 207px;
	margin-bottom: 101px;
	top: 15px;

}

}

/*====================================================================================================================*/


@media (min-width: 1091px) and (max-width: 1149px) {
	.logo-cloud {
		    position: relative;
		    left: 159px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}


	.logout{
		position: relative;
    	top:-1px;
    	width: 25px;
		left: -39px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}


.symbole {
    float: right;
    margin-right: 179px;
    position: relative;
    top: -32px;
}

	.message{
		font-size: 11px;
		color: #424960;
		max-width: 74%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}


	.challenge img{
		width: 100%;
		position: relative;
		left: -7px;
		margin-top: 15px;
		height: 185px;
	}

	.recapt{
		position: relative;
		left: 22px;
	}

.valide{
	position: relative;
	left: 207px;
	margin-bottom: 101px;
	top: 15px;

}

}
/*====================================================================================================================*/

@media (min-width: 1150px) and (max-width: 1199px) {

	.logout{
		position: relative;
    	top:14px;
    	width: 25px;
		left: -39px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}


.logout a{
	mask-image: url('../images/cloudsRewards/logout.svg');
	-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
	position: relative;
	left: 1867%;
	cursor: pointer;
	-webkit-text-fill-color: white;
	mask-position: center;
	-webkit-mask-position: center;
	display: block;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;

	background: white;
}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}

	.symbole {
    float: right;
    margin-right: 179px;
    position: relative;
    top: -32px;
}

	.message{
		font-size: 11px;
		color: #424960;
		max-width: 74%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}



}
/*====================================================================================================================*/

