
.registre{
	background:url('../images/cloudsRewards/bandeau-header-login.png');
	background-repeat:no-repeat;
	margin:0;
	padding:0;
	height:76px;
	width:100%;
	z-index:100;
	padding-left:100px;
	padding-right:100px;
}



.challenge{
	background: url('../images/cloudsRewards/a.jpg');
	background-repeat:no-repeat;
 	background-position: -50px -1px;
	margin-top: 22px;

}

.image-slide{
width: 100%;
position: relative;
left: 0px;
margin-top: 1px;
height: 250px;
 background-repeat: no-repeat;
}

/*.challenge{
	 background: url('../images/cloudsRewards/slide-1024.jpg');
	 background-repeat:no-repeat;

}*/

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    margin-top:22px;
    /*position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 1px var(--couleur_2);*/
    margin-bottom: 46px;
}


.logout{
	/*position: relative;*/
	position: absolute;
    left: 40%;
    width: 28px;
    height: 20px;
}

.logout a{
	mask-image: url('../images/cloudsRewards/logout.svg');
	-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
	position: relative;
	left: 1867%;
	cursor: pointer;
	-webkit-text-fill-color: white;
	mask-position: center;
	-webkit-mask-position: center;
	display: block;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	height: 26px;
	background: white;
}


div.all{
	background: url('../images/cloudsRewards/bg-slide.png');
	background-repeat:no-repeat;
	background-position: 0px -123px;
	z-index: 1;
}

.form{
	/*margin-left: 96px;*/
	margin-left: auto;
	margin-right: auto;
}

.form-group {
    margin-bottom: 1.7rem !important;
}

.form-in{
	margin-left: auto;
	
	width: 90%;
}

.label-position{
	position: relative !important;
	top: 7px !important;
}
.condtion{
	margin-bottom: 1.3rem !important;
}

.civility{
	margin-bottom: 1.3rem !important;
}

.text{
	width: 100%;
	height: 172px;
	line-height: 20px;
	text-align: left;
	margin-bottom: 114px;
	margin-left: 25px;
	margin-top: 20px;
}



.form-control{
	margin-left: 6px!important;
}




 .salut{
	/*border: 3px solid rgb(176,183,197);
	width: 100px;
	height: 92px;*/
	float: right;
	position: relative;
	left: -29px;
	top: -41px;
}

.symbole{
/*float: right;
margin-right: 110px;
position: relative;
top: -24px;*/
background:url('../images/cloudsRewards/salut.png');
background-position: -29px -1px;
}

.corner-circle-img{
    width: 117px;
    height: 117px;
    background-repeat: no-repeat;
    border: 2px solid #BEBEBE;
    float: right;
    box-shadow: 0 0 5px grey inset, 0 0 0 1px #BEBEBE;
}


.titre{
	margin-top: 89px;
}

.message{
	font-size: 11px;
	color: #424960;
	max-width: 98%;
	font-weight: bold;
	position: relative;
	top: -16px;
	font-family: "Lato-Regular";
	font-size: 14px;


}


.valide-user{
	height: 34px;
	width: 130px !important;
	font-size: 15px !important;
	font-family: "Lato-Regular" ;
}
.g-recaptcha{
	position: relative !important;
left: 107px !important;
}

.inscription{
	position: relative;
	text-align: left;
	top: 4px;
	/*color: rgb(102,122,224);*/
	
	
}
.bienvenu{
	/*color: rgb(102,122,224);*/
	color: var(--couleur_2);	
	margin-bottom: 27px;
	position: relative;
	top: -16px;
	
}
.inscription h4{
font-size: 25px;
color: var(--couleur_2);
font-family: "Lato-Ligth";

}

.bienvenu h4{
	font-weight: bold;
	font-size: 15px;
	font-family: "Lato";
}
label{
	text-align: left;
}

.password ul>li{
	list-style-type: none;
	font-size: 12px;
}

.recaptErreur ul>li{
	list-style-type: none;
	font-size: 12px;
	margin-left: 71px;
}
.emailErreur ul>li{
	list-style-type: none;
	font-size: 12px;
}

#fos_user_registration_form_civility_1{
	margin-left: 39px;
}

.civ2{
	margin-left: 20px;
	font-size: 15px;
	font-family: "Lato-Regular";
}

.civ1{
	/*margin-left: -5px;*/
	left: -6px;
	font-size: 15px;
	font-family: "Lato-Regular";
}

.cv-label{
	position: relative;
	left: 13px;
	font-size: 15px;
	font-family: "Lato-Regular";
}
.label-acepte{
	position: relative;
	left: 13px;
	font-size: 15px;
	font-family: "Lato-Regular";

}

.label-position{
	position: relative !important;
	top: 7px !important;
	font-size: 15px !important;
	font-family: "Lato-Regular" ;
}
.checkbox{
	margin-left: 22px;
}

.civ3{
	left: -6px;
	top: -7px;
	font-size: 15px;
	font-family: "Lato-Regular";
}

#fos_user_registration_form_accepte{
	margin-left: 20px;
}



.logo-cloud{
	position: absolute;
	left: 212px;
}
.recapt{
	position: relative;
	top: -3px;
	left: 21%;
}

.valide{
	position: relative;
	/*left: 34%;*/
	margin-bottom: 101px;
	top: 15px;
	text-align: center;

}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;

}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 1px;
    top: -2px;
    width: 23px;
    height: 23px;
    border: 1px solid rgb(176,183,197);
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 23px;
    height: 23px;
    /*background: #667ADE;*/
    position: absolute;
    top: -2px;
    left: 1px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: url('../images/cloudsRewards/checkon.png') no-repeat;   
    /*background-size: auto auto;*/
	background-size: 23px 23px;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

}


/*=================================Max1200=========================================================================*/
@media (min-width: 1200px){
	
.registre{
	background:url('../images/cloudsRewards/bandeau-header-login.png');
	background-repeat:no-repeat;
	margin:0;
	padding:0;
	height:76px;
	width:100%;
	z-index:100;
	padding-left:100px;
	padding-right:100px;
}



.challenge{
	background: url('../images/cloudsRewards/a.jpg');
	background-repeat:no-repeat;
 	background-position: -50px -1px;
	margin-top: 22px;

}

.image-slide{
width: 100%;
position: relative;
left: 0px;
margin-top: 1px;
height: 250px;
 background-repeat: no-repeat;
}

/*.challenge{
	 background: url('../images/cloudsRewards/slide-1024.jpg');
	 background-repeat:no-repeat;

}*/

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    margin-top:22px;
    /*position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 1px var(--couleur_2);*/
    margin-bottom: 46px;
}


.logout{
	/*position: relative;*/
	position: absolute;
    left: 40%;
    width: 28px;
    height: 20px;
}

.logout a{
	mask-image: url('../images/cloudsRewards/logout.svg');
	-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
	position: relative;
	left: 1867%;
	cursor: pointer;
	-webkit-text-fill-color: white;
	mask-position: center;
	-webkit-mask-position: center;
	display: block;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	height: 26px;
	background: white;
}


div.all{
	background: url('../images/cloudsRewards/bg-slide.png');
	background-repeat:no-repeat;
	background-position: 0px -123px;
	z-index: 1;
}

.form{
	/*margin-left: 96px;*/
	margin-left: auto;
	margin-right: auto;
}

.form-group {
    margin-bottom: 1.7rem !important;
}

.form-in{
	margin-left: auto;
	
	width: 90%;
}

.label-position{
	position: relative !important;
	top: 7px !important;
}
.condtion{
	margin-bottom: 1.3rem !important;
}

.civility{
	margin-bottom: 1.3rem !important;
}

.text{
	width: 100%;
	height: 172px;
	line-height: 20px;
	text-align: left;
	margin-bottom: 114px;
	margin-left: 25px;
	margin-top: 20px;
}



.form-control{
	margin-left: 6px!important;
}




 .salut{
	/*border: 3px solid rgb(176,183,197);
	width: 100px;
	height: 92px;*/
	float: right;
	position: relative;
	left: -29px;
	top: -41px;
}

.symbole{
/*float: right;
margin-right: 110px;
position: relative;
top: -24px;*/
background:url('../images/cloudsRewards/salut.png');
background-position: -29px -1px;
}

.corner-circle-img{
    width: 117px;
    height: 117px;
    background-repeat: no-repeat;
    border: 2px solid #BEBEBE;
    float: right;
    box-shadow: 0 0 5px grey inset, 0 0 0 1px #BEBEBE;
}


.titre{
	margin-top: 89px;
}

.message{
	font-size: 11px;
	color: #424960;
	max-width: 98%;
	font-weight: bold;
	position: relative;
	top: -16px;
	font-family: "Lato-Regular";
	font-size: 14px;


}


.valide-user{
	height: 34px;
	width: 130px !important;
	font-size: 15px !important;
	font-family: "Lato-Regular" ;
}
.g-recaptcha{
	position: relative !important;
left: 107px !important;
}

.inscription{
	position: relative;
	text-align: left;
	top: 4px;
	/*color: rgb(102,122,224);*/
	
	
}
.bienvenu{
	/*color: rgb(102,122,224);*/
	color: var(--couleur_2);	
	margin-bottom: 27px;
	position: relative;
	top: -16px;
	
}
.inscription h4{
font-size: 25px;
color: var(--couleur_2);
font-family: "Lato-Ligth";

}

.bienvenu h4{
	font-weight: bold;
	font-size: 15px;
	font-family: "Lato";
}
label{
	text-align: left;
}

.password ul>li{
	list-style-type: none;
	font-size: 12px;
}

.recaptErreur ul>li{
	list-style-type: none;
	font-size: 12px;
	margin-left: 71px;
}
.emailErreur ul>li{
	list-style-type: none;
	font-size: 12px;
}

#fos_user_registration_form_civility_1{
	margin-left: 39px;
}

.civ2{
	margin-left: 20px;
	font-size: 15px;
	font-family: "Lato-Regular";
}

.civ1{
	/*margin-left: -5px;*/
	left: -6px;
	font-size: 15px;
	font-family: "Lato-Regular";
}

.cv-label{
	position: relative;
	left: 13px;
	font-size: 15px;
	font-family: "Lato-Regular";
}
.label-acepte{
	position: relative;
	left: 13px;
	font-size: 15px;
	font-family: "Lato-Regular";

}

.label-position{
	position: relative !important;
	top: 7px !important;
	font-size: 15px !important;
	font-family: "Lato-Regular" ;
}
.checkbox{
	margin-left: 22px;
}

.civ3{
	left: -6px;
	top: -7px;
	font-size: 15px;
	font-family: "Lato-Regular";
}

#fos_user_registration_form_accepte{
	margin-left: 20px;
}



.logo-cloud{
	position: absolute;
	left: 212px;
}
.recapt{
	position: relative;
	top: -3px;
	left: 21%;
}

.valide{
	position: relative;
	/*left: 34%;*/
	margin-bottom: 101px;
	top: 15px;
	text-align: center;

}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;

}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 1px;
    top: -2px;
    width: 23px;
    height: 23px;
    border: 1px solid rgb(176,183,197);
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 23px;
    height: 23px;
    /*background: #667ADE;*/
    position: absolute;
    top: -2px;
    left: 1px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: url('../images/cloudsRewards/checkon.png') no-repeat;   
    /*background-size: auto auto;*/
	background-size: 23px 23px;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

}

/*================================================Max368===============================================================*/
@media (max-width: 368px)  {
	

	.logo-cloud{
		position: relative;
		left: -21%;
		top: 24%;
	}

	#ens{
		width: 100%;
		height: auto;
	}

	.fieldset.active{
	    /*margin-top:10px;
	    position:relative;*/
	    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
	    background-color: #FFFFFF;
	    /*border-top: solid 2px var(--couleur_2);*/
	}


	.registre{
		background:url('../images/cloudsRewards/bandeau-header-login.png');
		background-repeat:no-repeat;
		margin:0;
		padding:0;
		height:76px;
		width:100%;
		z-index:100;
		padding-left:100px;
		padding-right:100px;
	}

	.logout{
		position: relative;
		top: -16px;
		width: 25px;
		left: -219px;
	}




		.logout a{
			mask-image: url('../images/cloudsRewards/logout.svg');
			-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
			position: relative;
			left: 1215%;
			cursor: pointer;
			-webkit-text-fill-color: white;
			mask-position: center;
			-webkit-mask-position: center;
			display: block;
			mask-repeat: no-repeat;
			-webkit-mask-repeat: no-repeat;
			background: white;
		}


	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}


	.challenge{
		background: url('../images/cloudsRewards/a.jpg');
		background-repeat:no-repeat;
	 	background-position: -273px -1px;
		margin-top: 22px;

	}

	.image-slide{
	width: 100%;
	position: relative;
	left: 0px;
	margin-top: 1px;
	height: 250px;
	 background-repeat: no-repeat;
	}

	.inscription h4 {
    font-size: 20px;
    color: var(--couleur_2);
    font-family: "Lato";
    font-weight: lighter;
	}

	.message{
		font-size: 11px;
		color: #424960;
		max-width: 41%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}

	.text{
		width: 691px !important;
		height: 172px !important;
		line-height: 20px !important;
		text-align: left !important;
		margin-bottom: 168px !important;
		margin-left: 22px !important;
	}


	.recapt{
		position: relative;
		left: -150px;
	}

	.valide{
		position: relative;
		left: -22%;
		margin-bottom: 101px;
		top: 15px;

	}


	 .salut{
		/*border: 3px solid rgb(176,183,197);
		width: 100px;
		height: 92px;*/
		float: right;
		position: relative;
		left: -105px;
		top: -26px;
	}

	.symbole{
	/*float: right;
	margin-right: 110px;
	position: relative;
	top: -24px;*/
	background:url('../images/cloudsRewards/salut.png');
	background-position: -29px -1px;
	}


	.form{
		margin-left: 44px;
	}

	.label-position{
		position: relative !important;
		top: -10px !important;
	}

	

}

/*===============================================368-458======================================================================*/
@media (min-width: 368px) and (max-width: 458px) {

	.logout{
		position: relative;
		top: -2px;
		width: 25px;
		left: -226px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}
	#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}


	.logo-cloud {
	    position: relative;
	    left: -10px;
	    top: 8px;
	}

div.all{
	background: url('../images/cloudsRewards/bg-slide.png');
	background-repeat:no-repeat;
	background-position: 0px -123px;
	z-index: 1;
}

.inscription h4 {
    font-size: 20px;
    color: var(--couleur_2);
    font-family: "Lato";
    font-weight: lighter;
}


.message{
	font-size: 11px;
	color: #424960;
	max-width: 44%;
	font-weight: bold;
	position: relative;
	top: -16px;
}

.challenge{
	background: url('../images/cloudsRewards/a.jpg');
	background-repeat:no-repeat;
 	background-position: -273px -1px;
	margin-top: 22px;

}

.image-slide{
	width: 100%;
	position: relative;
	left: 0px;
	margin-top: 1px;
	height: 250px;
	 background-repeat: no-repeat;
}

	.symbole{
		float: right;
		margin-right: 378px;
		position: relative;
		top: -11px;
	}

	.recapt{
		position: relative;
		left: -150px;
	}

	.valide{
		position: relative;
		left:-27%;
		margin-bottom: 101px;
		top: 15px;

	}

	.form{
		margin-left: 56px;
	}

.label-position{
	position: relative !important;
	top: -10px !important;
}

	.text{
		width: 691px !important;
		height: 172px !important; 
		line-height: 20px !important;
		text-align: left !important;
		margin-bottom: 164px !important;
		margin-left: 37px !important;
	}
}

/*===============================================458-575======================================================================*/


@media (min-width: 458px) and (max-width: 575px) {
	.logo-cloud {
		    position: relative;
		    left: -27px;
	}
	.logout{
		position: relative;
		top: -39px;
		width: 25px;
		left: -92px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}


	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}


	.message{
		font-size: 11px;
		color: #424960;
		max-width: 65%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}


.challenge{
	background: url('../images/cloudsRewards/a.jpg');
	background-repeat:no-repeat;
 	background-position: -250px -1px;
	margin-top: 22px;

}

.image-slide{
	width: 100%;
	position: relative;
	left: 0px;
	margin-top: 1px;
	height: 250px;
	 background-repeat: no-repeat;
}
	.recapt{
		position: relative;
		left: -98px;
	}

	.valide{
		position: relative;
		left: -17px;
		margin-bottom: 101px;
		top: 15px;

	}

	.symbole{
		float: right;
		margin-right: 315px;
		position: relative;
		top: -32px;
	}

.form{
	margin-left: 92px;
}

.label-position{
	position: relative !important;
	top: -10px !important;
}

.text{
	width: 691px;
	height: 172px;
	line-height: 20px;
	text-align: left;
	margin-bottom: 113px;
	margin-left: 25px;
}


}


/*===================================================576-644=================================================================*/
@media (min-width: 576px) and (max-width: 644px) {

	.logo-cloud {
		    position: relative;
		    left: -131px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}

.logout{
		position: relative;
		top: -39px;
		width: 25px;
		left: 73px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}


	.message{
		font-size: 11px;
		color: #424960;
		max-width: 79%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}


.challenge{
	background: url('../images/cloudsRewards/a.jpg');
	background-repeat:no-repeat;
 	background-position: -170px -1px;
	margin-top: 22px;

}

.image-slide{
	width: 100%;
	position: relative;
	left: 0px;
	margin-top: 1px;
	height: 250px;
	 background-repeat: no-repeat;
}

	.recapt{
		position: relative;
		left: 22px;
	}

.valide{
	position: relative;
	margin-bottom: 101px;
	top: 15px;

}
.symbole{
		float: right;
		margin-right: 189px;
		position: relative;
		top: -32px;
	}

.text{
	width: 691px;
	height: 172px;
	line-height: 20px;
	text-align: left;
	margin-bottom: 113px;
	margin-left: 25px;
}


.form{
	margin-left: 42px;
}


}




/*====================================================645-648================================================================*/

@media (min-width: 645px) and (max-width: 648px) {

	.logo-cloud {
		    position: relative;
		    left: -131px;
	}

	#ens{
		width: 100%;
		height: auto;
	}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}
.logout{
		position: relative;
		top: -39px;
		width: 25px;
		left: 27px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}


	.message{
		font-size: 11px;
		color: #424960;
		max-width: 79%;
		font-weight: bold;
		position: relative;
		top: -16px;
	}


.challenge{
	background: url('../images/cloudsRewards/a.jpg');
	background-repeat:no-repeat;
 	background-position: -170px -1px;
	margin-top: 22px;

}

.image-slide{
	width: 100%;
	position: relative;
	left: 0px;
	margin-top: 1px;
	height: 250px;
	 background-repeat: no-repeat;
}

	.recapt{
		position: relative;
		left: 22px;
	}

.valide{
	position: relative;
	margin-bottom: 101px;
	top: 15px;

}

.symbole{
		float: right;
		margin-right: 189px;
		position: relative;
		top: -32px;
}



}
/*=====================================================649-767===============================================================*/
@media (min-width: 649px) and (max-width: 767px) {

	.logo-cloud {
		    position: relative;
		    left: -131px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}

	.logout{
		position: relative;
		top: -39px;
		width: 25px;
		left: 107px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
		padding-right: 38px;
	}


	.message{
		font-size: 11px;
		color: #424960;
		max-width: 81%;
		font-weight: bold;
		position: relative;
		font-family: "Lato-Regular";
		font-size: 14px;
		top: -16px;
	}


.challenge{
	background: url('../images/cloudsRewards/a.jpg');
	background-repeat:no-repeat;
 	background-position: -128px -1px;
	margin-top: 22px;

}

.image-slide{
	width: 100%;
	position: relative;
	left: 0px;
	margin-top: 1px;
	height: 250px;
	 background-repeat: no-repeat;
}

.salut{
	float: right;
	position: relative;
	left: -210px;
	top: -41px;
}

.symbole{
background:url('../images/cloudsRewards/salut.png');
background-position: -29px -1px;
}
	.recapt{
		position: relative;
		left: 22px;
	}

.valide{
	position: relative;
	margin-bottom: 101px;
	top: 15px;

}


.form{
	margin-left: 45px;
}

.titre{
	margin-left: 28px;
}

.inscription{
	position: relative;
	top: 4px;
	color: rgb(102,122,224);
	font-family: "Lato";
	margin-left: 28px;
	
}

}
/*========================================================768-831============================================================*/
@media (min-width: 768px) and (max-width: 831px) {

	.logo-cloud {
		    position: relative;
		    left: -131px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}

	.logout{
		position: relative;
		top: -39px;
		width: 25px;
		left: 237px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}
	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}


	.message{
		color: #424960;
		max-width: 71%;
		font-weight: bold;
		position: relative;
		font-family: "Lato-Regular";
		font-size: 14px;
		top: -16px;
	}


.challenge{
	background: url('../images/cloudsRewards/a.jpg');
	background-repeat:no-repeat;
 	background-position: -227px -1px;
	margin-top: 22px;

}

.image-slide{
	width: 100%;
	position: relative;
	left: 0px;
	margin-top: 1px;
	height: 250px;
	 background-repeat: no-repeat;
}

.salut{
	float: right;
	position: relative;
	left: -210px;
	top: -41px;
}


.symbole{
background:url('../images/cloudsRewards/salut.png');
background-position: -29px -1px;
}


	
	.recapt{
		position: relative;
		left: -12px;
	}

.valide{
	position: relative;
	margin-bottom: 101px;
	top: 15px;

}
.text {
    width: 691px;
    height: 172px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 187px;
    margin-left: 25px;
    margin-top: 20px;
}



}
/*=======================================================831-933=============================================================*/
@media (min-width: 831px) and (max-width: 934px) {

	.logo-cloud {
		    position: relative;
		    left: -131px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}

	.logout{
		position: relative;
		top: -39px;
		width: 25px;
		left: 237px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}




	.message{
		color: #424960;
		max-width: 78%;
		font-family: "Lato-Regular";
		font-size: 14px;
		top: -16px;
	}


.challenge{
	background: url('../images/cloudsRewards/a.jpg');
	background-repeat:no-repeat;
 	background-position: -206px -1px;
	margin-top: 22px;

}

.image-slide{
	width: 100%;
	position: relative;
	left: 0px;
	margin-top: 1px;
	height: 250px;
	 background-repeat: no-repeat;
}

.salut{
	float: right;
	position: relative;
	left: -210px;
	top: -41px;
}




.symbole{
background:url('../images/cloudsRewards/salut.png');
background-position: -29px -1px;
}

.text {
    width: 691px;
    height: 172px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 196px;
    margin-left: 25px;
    margin-top: 20px;
}

	.recapt{
		position: relative;
		left: 0px;
	}

.valide{
	position: relative;
	margin-bottom: 101px;
	top: 15px;

}




}

/*=======================================================934=============================================================*/

@media (min-width: 934px) and (max-width: 992px) {

	.logo-cloud {
	    position: relative !important;
	    left: -131px !important;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}
	.logout{
		position: relative;
		top: -39px;
		width: 25px;
		left: 237px;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}

	.message{
		color: #424960;
		max-width: 86%;
		font-weight: bold;
		position: relative;
		font-family: "Lato-Regular";
		font-size: 14px;
		top: -16px;
	}


.challenge{
	background: url('../images/cloudsRewards/a.jpg');
	background-repeat:no-repeat;
 	background-position: -128px -1px;
	margin-top: 22px;

}

.image-slide{
	width: 100%;
	position: relative;
	left: 0px;
	margin-top: 1px;
	height: 250px;
	 background-repeat: no-repeat;
}

.salut{
	float: right;
	position: relative;
	left: -107px;
	top: -41px;
}


.symbole{
background:url('../images/cloudsRewards/salut.png');
background-position: -29px -1px;
}

.text {
    width: 691px;
    height: 172px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 196px;
    margin-left: 25px;
    margin-top: 20px;
}

	.recapt{
		position: relative;
		left: -60px;
	}

.valide{
	position: relative;
	margin-bottom: 101px;
	top: 15px;

}


}


/*====================================================================================================================*/
@media (min-width: 992px) and (max-width: 1000px) {

	.logo-cloud {
		    position: relative;
		    left: 159px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}

.logout {
    position: relative;
    left: -260px;
    width: 28px;
    height: 20px;
}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1867%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}



	.message{
		color: #424960;
		max-width: 89%;
		font-weight: bold;
		position: relative;
		font-family: "Lato-Regular";
		font-size: 14px;
		top: -16px;
	}


.challenge{
	background: url('../images/cloudsRewards/a.jpg');
	background-repeat:no-repeat;
 	background-position: -128px -1px;
	margin-top: 22px;

}

.image-slide{
	width: 100%;
	position: relative;
	left: 0px;
	margin-top: 1px;
	height: 250px;
	 background-repeat: no-repeat;
}

.salut{
	float: right;
	position: relative;
	left: -107px;
	top: -41px;
}


.symbole{
background:url('../images/cloudsRewards/salut.png');
background-position: -29px -1px;
}

.text {
    width: 691px;
    height: 172px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 196px;
    margin-left: 25px;
    margin-top: 20px;
}
	.recapt{
		position: relative;
		left: -66px;
	}

.valide{
	position: relative;
	margin-bottom: 101px;
	top: 15px;

}


}
/*====================================================================================================================*/
@media (min-width: 1000px) and (max-width: 1090px) {

	.logo-cloud {
		    position: relative;
		    left: 68px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}

	.logout{
		position: relative;
    	width: 29px;
		left: 4%;
		height: 16px;
	}
	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1216%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}
	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}



	.message{
		font-size: 11px;
		color: #424960;
		max-width: 98%;
		font-weight: bold;
		position: relative;
		font-family: "Lato-Regular";
		font-size: 14px;
		top: -16px;
	}


.challenge{
	background: url('../images/cloudsRewards/a.jpg');
	background-repeat:no-repeat;
 	background-position: -128px -1px;
	margin-top: 22px;

}

.image-slide{
	width: 100%;
	position: relative;
	left: 0px;
	margin-top: 1px;
	height: 250px;
	 background-repeat: no-repeat;
}

.salut{
	float: right;
	position: relative;
	left: -107px;
	top: -41px;
}


.symbole{
background:url('../images/cloudsRewards/salut.png');
background-position: -29px -1px;
}

.text {
    width: 691px;
    height: 172px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 196px;
    margin-left: 25px;
    margin-top: 20px;
}

	.recapt{
		position: relative;
		left: 69px;
	}

.valide{
	position: relative;
	margin-bottom: 101px;
	top: 15px;

}

}

/*====================================================================================================================*/


@media (min-width: 1091px) and (max-width: 1149px) {
	.logo-cloud {
		    position: relative;
		    left: 79px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}


	.logout{
		position: relative;
    	top:-1px;
    	width: 25px;
		left: 20%;
	}

	.logout a{
		mask-image: url('../images/cloudsRewards/logout.svg');
		-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
		position: relative;
		left: 1215%;
		cursor: pointer;
		-webkit-text-fill-color: white;
		mask-position: center;
		-webkit-mask-position: center;
	display: block;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;

		background: white;
	}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}




	.message{
		font-size: 11px;
		color: #424960;
		max-width: 100%;
		font-weight: bold;
		position: relative;
		font-family: "Lato-Regular";
		font-size: 14px;
		top: -16px;
	}


.challenge{
	background: url('../images/cloudsRewards/a.jpg');
	background-repeat:no-repeat;
 	background-position: -128px -1px;
	margin-top: 22px;

}

.image-slide{
	width: 100%;
	position: relative;
	left: 0px;
	margin-top: 1px;
	height: 250px;
	 background-repeat: no-repeat;
}

.salut{
	float: right;
	position: relative;
	left: 0px;
	top: -41px;
}


.symbole{
background:url('../images/cloudsRewards/salut.png');
background-position: -29px -1px;
}

.text {
    width: 691px;
    height: 172px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 196px;
    margin-left: 25px;
    margin-top: 20px;
}

	.recapt{
		position: relative;
		left: 105px;
	}

.valide{
	position: relative;
	margin-bottom: 101px;
	top: 15px;

}

}
/*====================================================================================================================*/

@media (min-width: 1150px) and (max-width: 1199px) {

	.logout{
		position: relative;
    	top: 2px;
		width: 25px;
		left: 67px;
	}

#ens{
	width: 100%;
	height: auto;
}

.fieldset.active{
    /*margin-top:10px;
    position:relative;*/
    box-shadow: 1.5px 1.5px 2px #AAAAAA, 0 -2px 0 var(--couleur_2);
    background-color: #FFFFFF;
    /*border-top: solid 2px var(--couleur_2);*/
}


.logout a{
	mask-image: url('../images/cloudsRewards/logout.svg');
	-webkit-mask-image: url('../images/cloudsRewards/logout.svg');
	position: relative;
	left: 1867%;
	cursor: pointer;
	-webkit-text-fill-color: white;
	mask-position: center;
	-webkit-mask-position: center;
	display: block;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;

	background: white;
}

	div.all{
		background: url('../images/cloudsRewards/bg-slide.png');
		background-repeat:no-repeat;
		background-position: 0px -123px;
		z-index: 1;
	}

	

	.message{
		font-size: 11px;
		color: #424960;
		max-width: 100%;
		font-weight: bold;
		position: relative;
		font-family: "Lato-Regular";
		font-size: 14px;
		top: -16px;
	}


.challenge{
	background: url('../images/cloudsRewards/a.jpg');
	background-repeat:no-repeat;
 	background-position: -128px -1px;
	margin-top: 22px;

}

.image-slide{
	width: 100%;
	position: relative;
	left: 0px;
	margin-top: 1px;
	height: 250px;
	 background-repeat: no-repeat;
}

.salut{
	float: right;
	position: relative;
	left: 7px;
	top: -41px;
}


.symbole{
background:url('../images/cloudsRewards/salut.png');
background-position: -29px -1px;
}

.text {
    width: 691px;
    height: 172px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 196px;
    margin-left: 25px;
    margin-top: 20px;
}



}
/*====================================================================================================================*/

