:root {
    --nom_logo_content: "cloudRewards";
    --nom_logo_display: none;
    --couleur_1: #1d61d4;
    --couleur_1_bis: #598fea;
    --couleur_2: #7682da;
    --couleur_3: #505050;
    --couleur_4: #505050;
    --couleur_5: #807f81;
    --couleur_6: #ebeeef;
    --couleur_th: rgba(118, 130, 218, 0.2);

    --police: 'Lato-Regular';
    --police_light: 'Lato-Light';
    --police_bold: 'Lato-Bold';
}