<div class="col-md-1 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
    <div class="list-group border-0 card text-center text-md-left">
        <a id = "emailing" href="#" class="list-group-item d-inline-block collapsed {{ (active == 1)?'active':'' }}" data-parent="#sidebar">
            <span id = "img-emailing" class = "img-menu img-menu"></span>
            <span class = "text-menu">programme</span>
            <span class = "border-left-hover-active">&nbsp;</span>
        </a>
    </div>
</div>