<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 offset-md-3 offset-lg-3 offset-sm-2">
	<div class = "content-message-login">
		<h3>CHALLENGE 2017</h3>
		<p class = "description-message">
			<span style = "display:block;margin-bottom:50px;">Bienvenue !</span>
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing</span>
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing</span>
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing</span>
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing</span>
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing</span>
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing</span>
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing</span>
		</p>
		
		<p class = "content-btn-inscris">
			<input class = "btn-inscris" type = "button" name = "inscris" value = "">
		</p>
	</div>
</div>