/*
 * Import font 'Lato'
 */
@font-face {
	font-family: "Lato";
	font-style: normal;
	src: url('fonts/Lato/Lato-Regular.ttf');
}

@font-face {
	font-family: "Lato";
	font-style: italic;
	src: url('fonts/Lato/Lato-Italic.ttf');
}

@font-face {
	font-family: "Lato";
	font-weight: bold;
	src: url('fonts/Lato/Lato-Bold.ttf');
}

@font-face {
	font-family: "Lato";
	font-style: italic;
	font-weight: bold;
	src: url('fonts/Lato/Lato-BoldItalic.ttf');
}

html{
	margin:0;
	padding:0;
	font-family: "Lato";
}

body{
	margin:0;
	padding:0;
	font-family: "Lato";
	/*background:#ebeeef;*/
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9{
	padding-right:0!important;
	padding-left:0!important;
}

.container{
	width:1920px!important;
	max-width:100%!important;
}

.principale{
	padding-left: 0;
	padding-right: 0;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
	font-style:italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity: 1;
   font-style:italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity: 1;
   font-style:italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
   font-style:italic;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
   font-style:italic;
}

.header{
	background: url('../images/cloudsRewards/bandeau-header.png');
	max-width: 1920px;
	max-height: 200px;
	width: 100%;
	height: auto;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5px;
	padding-bottom: 10px;
}

.logo{
	width: 30%;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	padding-top: 10px;
}

div.form-search{
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-top: 27px;
}

form.form-search{
	width: 70%;
	margin: 0 auto;
	background:url('../images/cloudsRewards/barre-recherche-barre.png');
	background-repeat:no-repeat;
}

input.input-text-search{
	background:none;
	border:0;
	color:white;
	font-style:italic;
}

span.search-loup{
	display:inline-block;
	width:18px;
	height:16px;
}

.log{
	width:30%;
	display:inline-block;
	float: right;
}

.logo-img{
}

.log-content{
	margin:0;
	padding:0;
	list-style:none;
}

.log-content li{
	background:url('../images/cloudsRewards/log.png');
	background-repeat:no-repeat;
	float:right;
	cursor:pointer;
	margin-left:10px;
	margin-top:10px;
}

li.on-off-log{
	width: 25px;
	height: 25px;
	background-position: -304px -12px;
	margin-top: 20px;
}

li.status-log{
	width: 48px;
	height: 50px;
	background-position: -233px 0px;
}

li.casque-log{
	width: 25px;
	height: 25px;
	background-position: -186px -12px;
	margin-top: 20px;
}

li.mail-log{
	width: 25px;
	height: 25px;
	background-position: -139px -12px;
	margin-top: 20px;
}

li.infos-log{
	width: 25px;
	height: 25px;
	background-position: -93px -12px;
	margin-top: 20px;
}

li.cloche-log{
	width: 25px;
	height: 25px;
	background-position: -46px -12px;
	margin-top: 20px;
}

li.play-log{
	width: 25px;
	height: 25px;
	background-position: 0px -12px;
	margin-top: 20px;
}

div.menu-top{
	background: url('../images/cloudsRewards/bandeau-header-top.png');
	max-width: 1920px;
	max-height: 200px;
	width: 100%;
	height: auto;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5px;
	padding-bottom: 10px;
}

ul.menu-content{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

div.clearBoth{
	clear:both;
}

ul.menu-content li{
	float:left;
	margin-left: 6%;
}

ul.menu-content li a{
	color:#9a9a9a;
	text-decoration:none;
}

ul.menu-content li a.active{
	color:white;
}

div.bg-slide{
	background: url('../images/cloudsRewards/bg-slide.png');
	background-repeat:no-repeat;
	background-position: 0px -123px;
	margin-bottom:10px;
}

div.slide{
	width:60%;
	margin-left:20%;
	margin-top:5px;
}

div.slideshow {
   width: 100%;
   max-height: 349px;
   overflow: hidden;
   border: 3px solid #F2F2F2;
   position:relative;
}

div.slideshow ul {
    /* 4 images donc 4 x 100% */
   width: 400%;
   height: 200px;
   padding:0; margin:0;
   list-style: none;
}

div.slideshow li {
   float: left;
}

div.slideshow li img {
   max-width:750px;
   max-height:349px;
   width:100%;
   height:auto;
}

span.fleche-gauche{
	color: white;
	font-weight: bold;
	font-size: 20px;
	position: absolute;
	top: 152px;
	left: 10px;
	cursor:pointer;
	background: url('../images/cloudsRewards/fleche-slide.png');
	background-repeat: no-repeat;
	background-position: 1px -6px;
	width:20px;
	height:20px;
}

span.fleche-droite{
	color: white;
	font-weight: bold;
	font-size: 20px;
	position: absolute;
	top: 152px;
	right: 10px;
	cursor:pointer;
	background: url('../images/cloudsRewards/fleche-slide.png');
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: -700px -6px;
	width: 20px;
	height: 20px;
}

div.content-lefter{
	width: 14%;
	margin-left: 5%;
	display:inline-block;
	float:left;
}

div.content-mon-compte,
div.content-classement,
div.content-contact{
	width:100%;
	margin-bottom:5%;
	background:#f5f5f5;
	padding:10px;
}

div.content-center{
	width:60%;
	display:inline-block;
	clear:both;
	margin-left:1%;
}

div.content-edito,
div.content-date-challenge,
div.content-trophees,
div.content-nouveaux-challenge{
	width:100%;
	margin-bottom:5%;
	background:#f5f5f5;
}

div.content-righter{
	width: 14%;
	margin-right: 5%;
	display:inline-block;
	float:right;
}

div.content-challenge-en-cours,
div.content-flux-cadeaux,
div.content-rs-sociaux{
	width:100%;
	margin-bottom:5%;
	background:#f5f5f5;
	padding:10px;
}

p.ligne-1-block{
	margin:0;
	padding:0;
}

span.titre-block{
	color: #7682da;
	display: inline-block;
	margin-top: 16px;
	font-size: 18px;
}

span.titre-block-img-mon-compte{
	display:inline-block;
	background: url('../images/cloudsRewards/log.png');
	background-repeat: no-repeat;
	float: right;
	cursor: pointer;
	margin-top: 10px;
	width: 48px;
	height: 50px;
	background-position: -233px 0px;
	margin-right:10px;
}

p.mon-compte-nom{
	margin: 0;
    margin-top: 0px;
	margin-top: 17px;
	font-size:13px;
}


p.mon-compte-nom span{
	color:#b4b4b4;
}

p.mon-compte-points{
	margin:0;
	padding:0;
	text-align:center;
}

p.mon-compte-points span{
	color:#b8bde7;
	font-size:35px;
}

p.mon-compte-btn{
	margin:0;
	padding:0;
	text-align:center;
	width:130px;
	height:34px;
	background: url('../images/cloudsRewards/btn-bleu.png');
	background-repeat: no-repeat;
	margin:0 auto;
	margin-top:10px;
	cursor:pointer;
}

p.mon-compte-btn span{
	color: #f5f8fd;
	vertical-align: middle;
	position: relative;
	top: 2px;
}

span.titre-block-img-classement{
	display:inline-block;
	background: url('../images/cloudsRewards/trophee.png');
	background-repeat: no-repeat;
	float: right;
	cursor: pointer;
	margin-top: 10px;
	width: 48px;
	height: 50px;
	margin-right:10px;
}

span.titre-block-img-contact{
	display:inline-block;
	background: url('../images/cloudsRewards/contact.png');
	background-repeat: no-repeat;
	float: right;
	cursor: pointer;
	margin-top: 10px;
	width: 48px;
	height: 50px;
	margin-right:10px;
}

span.titre-block-img-cadeaux{
	display:inline-block;
	background: url('../images/cloudsRewards/cadeaux.png');
	background-repeat: no-repeat;
	float: right;
	cursor: pointer;
	margin-top: 10px;
	width: 48px;
	height: 50px;
}

span.titre-block-date{
	font-size: 45px;
	float: left;
	color: #7682da;
	font-weight: bold;
	margin-top: -6px;
}

span.titre-block-lib-date-mois{
	color: #7682da;
	margin-left:5px;
}

span.titre-block-lib-date-jour{
	color: #7682da;
	margin-left:5px;
}

p.date-infos{
	margin:0;
	padding:0;
	clear:both;
	font-size:13px;
}

p.date-infos span{
	color:#b4b4b4;
}

p.date-infos-date{
	margin:0;
	padding:0;
	color: #7682da
}

ul.liste-flux-cadeaux{
	margin:0;
	padding:0;
	list-style:none;
	margin-top:34px;
}

ul.liste-flux-cadeaux li{
	clear:both;
	margin-bottom:10px;
}

p.img-cadeaux-flux{
	margin:0;
	padding:0;
	float:left;
	min-width:58px;
}

p.descr-cadeaux-flux{
	margin:0;
	padding:0;
	margin-left:68px;
	font-size:13px;
}


p.descr-cadeaux-flux span.lib-cadeaux,
p.descr-cadeaux-flux span.desc-cadeaux{
	color:#b4b4b4;
	display:block;
}

p.descr-cadeaux-flux span.vue-cadeaux{
	color:#7682da;
	display:block;
}

p.descr-cadeaux-flux span.btn-cadeaux{
	display: block;
	background: url('../images/cloudsRewards/bnt-jaime.png');
	background-repeat: no-repeat;
	width: 71px;
	height: 20px;
	text-align: right;
	color: white;
	font-size: 13px;
	padding-right: 8px;
	cursor: pointer;
}

span.nav-fleche-gauche-cadeaux{
	display:inline-block;
	width:22px;
	height:20px;
	background: url('../images/cloudsRewards/nav-flux-cadeaux.png');
	background-repeat:no-repeat;
	background-position:0px 0px;
	margin-left: 68px;
	margin-top: 10px;
	cursor:pointer;
}

span.nav-fleche-droite-cadeaux{
	display:inline-block;
	width:22px;
	height:20px;
	background: url('../images/cloudsRewards/nav-flux-cadeaux.png');
	background-repeat:no-repeat;
	background-position: -73px 0px;
	cursor:pointer;
}

span.lib-nav-cadeaux{
	color: #b4b4b4;
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
}

span.btn-acces-boutique{
	margin: 0;
	padding: 0;
	text-align: center;
	width: 170px;
	height: 34px;
	background: url('../images/cloudsRewards/btn-bleu-large.png');
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 10px;
	cursor: pointer;
	display:block;
	padding-top:4px;
	color:white;
}

p.rs-sociaux-ligne-1,
p.rs-sociaux-ligne-2{
	margin:0;
	padding:0;
	margin-top:20px;
}

p.rs-sociaux-ligne-1 span.rs-ligne-1-fb{
	background: url('../images/cloudsRewards/rs-sociaux-part.png');
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	background-position:0px 0px;
	display:inline-block;
	cursor:pointer;
}

p.rs-sociaux-ligne-1 span.rs-ligne-1-linkdin{
	background: url('../images/cloudsRewards/rs-sociaux-part.png');
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	background-position:-66px 0px;
	display:inline-block;
	margin-left:30px;
	cursor:pointer;
}

p.rs-sociaux-ligne-1 span.rs-ligne-1-viadeo{
	background: url('../images/cloudsRewards/rs-sociaux-part.png');
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	background-position:-139px 0px;
	display:inline-block;
	margin-left:30px;
	cursor:pointer;
}

p.rs-sociaux-ligne-2 span.rs-ligne-2-gplus{
	background: url('../images/cloudsRewards/rs-sociaux-part.png');
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	background-position: 0px -59px;
	display:inline-block;
	cursor:pointer;
}

p.rs-sociaux-ligne-2 span.rs-ligne-2-twitter{
	background: url('../images/cloudsRewards/rs-sociaux-part.png');
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	background-position: -66px -59px;
	display:inline-block;
	cursor:pointer;
	margin-left:30px;
}

p.rs-sociaux-ligne-2 span.rs-ligne-2-pink{
	background: url('../images/cloudsRewards/rs-sociaux-part.png');
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	background-position: -137px -59px;
	display:inline-block;
	cursor:pointer;
	margin-left:30px;
}

div.content-edito,
div.content-date-challenge,
div.content-trophees,
div.content-nouveaux-challenge{
	width:100%;
	margin-bottom:0;
	background:#f5f5f5;
	padding:10px;
}

p.titre-block-centre{
	margin:0;
	padding:0;
	float:left;
}

p.titre-block-centre span.lib-titre-block-centre{
	color: #7682da;
	display: block;
	font-size: 18px;
}

p.titre-block-centre span.lib-date-block-centre{
	color: #b4b4b4;
	display: block;
	font-size: 10px;
}

p.titre-block-centre span.lib-date-block-centre-large{
	color: #7682da;
	display: block;
	font-size: 16px;
	margin-top: 24px;
}

p.img-titre-block-centre{
	width: 107px;
	height: 107px;
	float: right;
}

p.descr-block-centre{
	clear:both;
}

p.descr-block-centre span.descr-1{
	display:block;
	text-align:justify;
	color: #b4b4b4;
}

p.descr-block-centre span.descr-2{
	display:block;
	text-align:justify;
	color: #b4b4b4;
	margin-top:10px;
}

p.descr-block-centre span.descr-3{
	display:block;
	text-align:justify;
	color: #b4b4b4;
	margin-top:10px;
}

p.descr-block-centre span.descr-4{
	display:block;
	text-align:justify;
	color: #b4b4b4;
	margin-top:10px;
}

p.btn-jaime-block-center{
	display: block;
	background: url('../images/cloudsRewards/bnt-jaime.png');
	background-repeat: no-repeat;
	width: 71px;
	height: 20px;
	text-align: center;
	cursor: pointer;
}

p.btn-jaime-block-center span{
	color: white;
	position: relative;
	top: -3px;
	left: 8px;
	font-size: 12px;
}

img.trophees-3-premiers{
	margin:0 auto;
	display:block;
}

img.nouveaux-img-challenge{
	margin:0 auto;
	display:block;
	box-shadow: 0px 24px 32px grey;
}

div.content-sep-date-ligne{
	width: 1px;
	border: 1px solid blue;
	position: absolute;
	left: 50%;
	z-index: -5;
}

div.content-sep-date{
	position: relative;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.content-sep-date-positionnement{
	width: 100px;
	height: 100px;
	border-radius: 80px;
	background: #f5f5f5;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	text-align:center;
}

div.content-sep-date-positionnement span{
	color: #8c8c8c;
	position: relative;
	top: 36px;
}

div.content-sep-date-vide{
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.footer{
	display: block;
	background: url('../images/cloudsRewards/bg-footer.png');
	background-repeat: no-repeat;
	height:200px;
	margin-top:30px;
	padding-top:15px;
}

div.content-lefter-footer{
	width: 14%;
	margin-left: 5%;
	display: inline-block;
	float: left;
}

div.content-righter-footer{
	width: 14%;
	margin-right: 5%;
	display: inline-block;
	float: right;
}

div.content-center-footer{
	width: 60%;
	display: inline-block;
	clear: both;
	margin-left: 1%;
}

span.copyright-footer{
	color:#9a9a9a;
}

ul.page-standards-footer{
	margin:0;
	padding:0;
	list-style:none;
	width:80%;
	margin:0 auto;
	text-align:center;
}

ul.page-standards-footer li{
	display:inline-block;
}

ul.page-standards-footer li.page-reglement{
	margin-left:20px;
	margin-right:20px;
}

ul.page-standards-footer li a{
	text-decoration:none;
	color:#9a9a9a;
}

ul.page-standards-footer li a:hover{
	text-decoration:none;
}

ul.rs-sociaux-footer{
	margin:0;
	padding:0;
	list-style:none;
	width:80%;
	margin:0 auto;
	text-align:center;
	margin-top:20px;
	letter-spacing: 10px;
}

ul.rs-sociaux-footer li{
	display:inline-block;
}

ul.rs-sociaux-footer li.rs-fb{
	background: url('../images/cloudsRewards/rs.png');
	background-repeat: no-repeat;
	background-position:10px 0px;
	width:25px;
	height:25px;
	cursor:pointer;
}

ul.rs-sociaux-footer li.rs-linkdin{
	background: url('../images/cloudsRewards/rs.png');
	background-repeat: no-repeat;
	background-position:-38px 0px;
	width:25px;
	height:25px;
	cursor:pointer;
}

ul.rs-sociaux-footer li.rs-viadeo{
	background: url('../images/cloudsRewards/rs.png');
	background-repeat: no-repeat;
	background-position:-83px 0px;
	width:25px;
	height:25px;
	cursor:pointer;
}

ul.rs-sociaux-footer li.rs-gplus{
	background: url('../images/cloudsRewards/rs.png');
	background-repeat: no-repeat;
	background-position:-125px 0px;
	width:25px;
	height:25px;
	cursor:pointer;
}

ul.rs-sociaux-footer li.rs-twitter{
	background: url('../images/cloudsRewards/rs.png');
	background-repeat: no-repeat;
	background-position:-173px 0px;
	width:25px;
	height:25px;
	cursor:pointer;
}

ul.rs-sociaux-footer li.rs-autre{
	background: url('../images/cloudsRewards/rs.png');
	background-repeat: no-repeat;
	background-position:-216px 0px;
	width:25px;
	height:25px;
	cursor:pointer;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
	.logo {
		width: 100%!important;
	}
	
	div.form-search {
		width: 100%;
	}
	
	form.form-search{
		width: 100%;
	}
	
	.log{
		float:none;
		width:100%;
		margin-top: 23px;
	}
	
	.log-content li{
		margin-left:7px;
	}
	
	div.slide{
		width:100%;
		margin-left:0;
	}
	
	div.content-lefter{
		width:100%;
		float:none;
		margin-left:0;
	}
	
	div.content-center{
		width:100%;
	}
	
	div.content-righter{
		width:100%;
		margin-right:0;
		float:none;
		margin-top:15px;
	}
	
	div.content-lefter-footer{
		width:100%;
		float:none;
		margin-left:0;
		text-align: center;
	}
	
	div.content-center-footer{
		width:100%;
		float:none;
		margin-left:0;
	}
	
	ul.page-standards-footer{
		width:100%;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
	.logo {
		width: 100%!important;
	}
	
	div.form-search {
		width: 45%;
		float:left;
	}
	
	form.form-search{
		width: 100%;
	}
	
	.log{
		width: 55%;
		margin-left: 50%;
		display: block;
		float:none;
	}
	
	ul.menu-content{
		width:100%;
	}
	
	span.fleche-gauche{
		top:110px;
	}
	
	span.fleche-droite{
		top:110px;
	}
	
	p.rs-sociaux-ligne-1, p.rs-sociaux-ligne-2{
		display:inline;
		letter-spacing:10em;
	}
	
	div.slideshow ul{
		width:100%;
		height:258px;
	}
	
	div.slideshow li{
		float:none;
	}
	
	div.slideshow li img{
		width:100%;
	}
	
	.log-content li{
		margin-left:7px;
	}
	
	div.slide{
		width:100%;
		margin-left:0;
	}
	
	div.content-lefter{
		width:100%;
		float:none;
		margin-left:0;
	}
	
	div.content-center{
		width:100%;
	}
	
	div.content-righter{
		width:100%;
		margin-right:0;
		float:none;
		margin-top:15px;
	}
	
	div.content-lefter-footer{
		width:100%;
		float:none;
		margin-left:0;
		text-align: center;
	}
	
	div.content-center-footer{
		width:100%;
		float:none;
		margin-left:0;
	}
	
	ul.page-standards-footer{
		width:100%;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
	.logo {
		width: 100%!important;
	}
	
	div.form-search {
		width: 45%;
		float:left;
	}
	
	form.form-search{
		width: 100%;
	}
	
	.log{
		width: 55%;
		margin-left: 50%;
		display: block;
		float:none;
	}
	
	ul.menu-content{
		width:100%;
	}
	
	/*
	span.fleche-gauche{
		top:110px;
	}
	
	span.fleche-droite{
		top:110px;
	}
	*/
	
	p.rs-sociaux-ligne-1, p.rs-sociaux-ligne-2{
		display:inline;
		letter-spacing:5em;
	}
	
	/*
	div.slideshow ul{
		width:100%;
		height:258px;
	}
	
	div.slideshow li{
		float:none;
	}
	
	div.slideshow li img{
		width:100%;
	}
	*/
	
	.log-content li{
		margin-left:7px;
	}
	
	div.slide{
		width:100%;
		margin-left:0;
	}
	
	div.content-lefter{
		width:100%;
		float:none;
		margin-left:0;
	}
	
	div.content-center{
		width:100%;
	}
	
	div.content-righter{
		width:100%;
		margin-right:0;
		float:none;
		margin-top:15px;
	}
	
	div.content-lefter-footer{
		width:100%;
		float:none;
		margin-left:0;
		text-align: center;
	}
	
	div.content-center-footer{
		width:100%;
		float:none;
		margin-left:0;
	}
	
	ul.page-standards-footer{
		width:100%;
	}
	
	ul.menu-content li{
		margin-left: 5%;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}