{% extends "AdminBundle:PartialPage/SiteFormField:base.html.twig" %}
{% block content %}
    <label>{{ field.label }} {{ field.mandatory ? '*' : '' }}</label>
    <div class="date-field-form">
        <input type='text' value=' JJ' maxlength='2' class='day'>
        <input type='text' value='MM' maxlength='2' class='month'>
        <input type='text' value='AAAA' maxlength='4' class='year'>
    </div>
{% endblock %}
