{% extends "AdminBundle:PartialPage/SiteFormField:base2.html.twig" %}
{% block content %}
    <label>{{ field.label }} {{ field.mandatory ? '*' : '' }}</label>
    <div class="date-field-form">
        {% if(choices is defined and choices is not empty) %}
            {% for key, choice in choices %}
                <div class="champs-form-radio">
                    <span class="input-radio"></span>
                    <span class="input-libelle-radio">{{ key }}</span>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
