{% extends "AdminBundle:PartialPage/SiteFormField:base2.html.twig" %}
{% block content %}
    <label>{{ field.label }} {{ field.mandatory ? '*' : '' }}</label>
    <div class="champs-form"></div>
{% endblock %}
