<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Participants{% endblock %}</title>

    {% block stylesheets %}
        <!--
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        -->
        {{ render(controller('AdminBundle:Parametrages:root')) }}
        <link href="{{ asset('css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    {% endblock %}
</head>