<div class="container-fluid">
    <div class="row">
        <div class="col-12 content-header">
            <nav class="navbar navbar-toggleable-lg navbar-inverse bg-inverse header">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarNiv1">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {{ render(controller("AdminBundle:Parametrages:logo")) }}
                {# <div class = "logo navbar-brand abs">
                    <span class = "logo-cloud-rewards"></span>
                    <!--
                    <img src = "images/cloudsRewards/log.png" width = "291" height = "50" alt = "" title = "" class = "img-fluid logo-img">
                    -->
                </div> #}
                <div class="navbar-collapse collapse" id="collapsingNavbarNiv1">
                    <div class = "navbar-nav form-search">
                        <form class = "form-search" name = "search" method = "POST" action = "">
                            <span class = "search-loup"></span>
                            <input class = "input-text-search light" type = "text" name = "search" value = "" placeholder = "rechercher">
                        </form>
                    </div>

                    <div class = "navbar-nav log">
                        <ul class = "log-content">
                            <li class = "on-off-log"></li>
                            <li class = "status-log"></li>
                            <li class = "casque-log"></li>
                            <li class = "mail-log"></li>
                            <li class = "infos-log"></li>
                            <li class = "cloche-log"></li>
                            <li class = "play-log"></li>
                        </ul>
                    </div>

                    <div style = "clear:both;"></div>
                </div>
            </nav>
        </div>
    </div>
</div>