<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse menu-top">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbarNiv2">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class = "navbar-brand abs">

                </div>
                <div class="navbar-collapse collapse" id="collapsingNavbarNiv2">
                    <ul class = "navbar-nav menu-content">
						<li><a href = "{{ path('beneficiary_home') }}" class = "menu-lib active light">accueil</a></li>
                        <li><a href = "" class = "menu-lib light">déclarer mes ventes</a></li>
						
						{% for Pages in ListePages %}
							<li class = "{{ Pages.TitrePage }}"><a href = "{{ path('beneficiary_home_pages_standard_slug', {'slug': Pages.Slug}) }}" class = "menu-lib light">{{ Pages.MenuPage }}</a></li>
						{% endfor %}
						
                        <li><a href = "" class = "menu-lib light">classement</a></li>
                        <li><a href = "" class = "menu-lib light">mes points</a></li>
                    </ul>
                    <div class = "clearBoth"></div>

                    <div style = "clear:both;"></div>
                </div>
            </nav>
        </div>
    </div>
</div>