<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class = "footer">
                <div class = "content-lefter-footer">
                    <span class = "copyright-footer light">© cloud rewards 2017</span>
                </div>

                <div class = "content-center-footer">
                    <ul class = "page-standards-footer">
                        <li class = "page-mention-legale "><a class = "light" href = "">mentions légales</a></li>
                        <li class = "page-reglement"><a class = "light" href = "">réglement</a></li>
                        <li class = "page-contact"><a class = "light" href = "">contact</a></li>
                    </ul>

                    <ul class = "rs-sociaux-footer">
                        <li class = "rs-fb"><a href = ""></a></li>
                        <li class = "rs-linkdin"><a href = ""></a></li>
                        <li class = "rs-viadeo"><a href = ""></a></li>
                        <li class = "rs-gplus"><a href = ""></a></li>
                        <li class = "rs-twitter"><a href = ""></a></li>
                        <li class = "rs-autre"><a href = ""></a></li>
                    </ul>
                </div>

                <div class = "content-righter-footer"></div>
            </div>
        </div>
    </div>
</div>