<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class = "footer">
                <div class = "content-lefter-footer">
                    <span class = "copyright-footer light">© cloud rewards 2017</span>
                </div>

                <div class = "content-center-footer">
                    <ul class = "page-standards-footer">
					{% for Pages in liste_pages %}
						<li class = "{{ Pages.TitrePage }}"><a class = "light" href = "{{ path('beneficiary_home_pages_standard_slug', {'slug': Pages.Slug}) }}" >{{ Pages.MenuPage }}</a></li>
					{% endfor %}
                    </ul>

                    <ul class = "rs-sociaux-footer">
                        <li class = "rs-fb"><a href = ""></a></li>
                        <li class = "rs-linkdin"><a href = ""></a></li>
                        <li class = "rs-viadeo"><a href = ""></a></li>
                        <li class = "rs-gplus"><a href = ""></a></li>
                        <li class = "rs-twitter"><a href = ""></a></li>
                        <li class = "rs-autre"><a href = ""></a></li>
                    </ul>
                </div>

                <div class = "content-righter-footer"></div>
            </div>
        </div>
    </div>
</div>